<div class="row" ng-controller="CitiesCtrl">
    <h4 class="cityInformation" translate="CITYINFORMATION"></h4>
    <button class="btn btn-lg btn-primary colorBlue buttonAddCity"
        ng-click="addCityFuntion()">
        <span class="fa fa-plus"></span>
        <label class="margin-bottom-0 fontSize13" translate="ADDCITY"></label>
    </button>
    <div id="addCityBox">
        <div class="BranchesViewAdd col-md-12">
            <div class="col-md-12 marginTop20">
                <div class="col-md-6 padding-left-0">
                    <div class="col-md-5 padding-left-0">
                        <label for="cityName" translate="CITYNAME"></label>
                        <input ng-model="cityNameNew" type="title" id="cityName"
                            class="form-control backgroundGray"
                            required autofocus>
                    </div>
                    <div class="col-md-5 padding-left-0">
                        <label for="cityPrice" translate="CITYPRICE"></label>
                        <input ng-model="cityPriceNew" type="title" id="cityPrice"
                            class="form-control backgroundGray"
                            required autofocus>
                    </div>
                    <div class="col-md-8 padding-left-0 marginTop20">
                        <input type="checkbox" ng-model="cityVisibilityNew">
                        {{'SHOWCITYTEXT' | translate}}
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="imageMainTeam" id="cityImage"
                        src="img/branch.png">
                </div>
            </div>
            <div class="col-md-12 marginTop10">
                <label for="cityPicture" translate="CITYPICTURE"></label>
                <input
                    onchange="angular.element(this).scope().changeValueMainImageCity()"
                    class="form-controlInput backgroundGray"
                    type="file" id="cityPicture">
            </div>
            <!-- <div class="col-md-12 marginTop10">
                <label for="cityDescription" translate="CITYDESCRIPTION"></label>
                <textarea ng-model="cityDescriptionNew" type="title" id="cityDescription" class="textAreaCoreTeam form-control backgroundGray" required>
            </div> -->
            <div class="col-md-12 marginTop10 marginBottom10">
                <button class="btn btn-lg btn-primary colorBlue
                    buttonAddBranche" ng-click="addCity()">
                    <span class="fa fa-plus"></span>
                    <label class="margin-bottom-0 fontSize13"
                        translate="SAVECITY"></label>
                </button>
            </div>
        </div>
    </div>
    <form class="citiesView col-md-12" ng-show="arrayCities.length> 0">
        <div class="form-row col-md-12 noPadding">
            <div ng-repeat="member in arrayCities">
                <div class="col-md-12 teamMemberItem">
                    <div class="col-md-2">
                        <img class="imageCities" src="{{member.mainImage}}">
                    </div>
                    <div class="col-md-8">
                        <div class="updateCityNameClass">
                            <label id="cityName_{{$index}}">{{member.name}}</label>
                            <input id="updateCityName_{{$index}}" ng-change="updateCityName($index)" class="ng-hide" type="text" ng-model="nameUpdateCity"></input>                            
                            <div id="editCityName_{{$index}}" class="buttonEditHidden">
                                <a type="button" class="btn btnEditCityName buttonEdit" ng-click="editCityName($index, member.name)">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </div>
                            <div id="saveCityName_{{$index}}" class="ng-hide">
                                <a type="button" class="btn btnEditCityName buttonEditSave" ng-click="saveCityName($index)">
                                    <span class="fa fa-save"></span>
                                </a>
                            </div>
                        </div>                        
                        <h5><strong>{{'CITYPRICE' | translate}}:</strong>{{member.price}}</h5>
                        <h5 ng-show="member.show"><strong>{{'SHOWCITYTEXT' | translate}}:</strong> {{'YES' | translate}}</h5>
                        <h5 ng-show="!member.show"><strong>{{'SHOWCITYTEXT' | translate}}:</strong> {{'NO' | translate}}</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-12">
                            <a class="btn btn-warning pull-right
                                buttonUpdate padding-left-0 padding-right-0"
                                ng-click="updateMember(member.id)">
                                <span class="fa fa-edit"></span>
                                <label class="margin-bottom-0 fontSize13"
                                    translate="BUPDATE"></label>
                            </a>
                        </div>
                        <div class="col-md-12">
                            <a class="btn btn-danger pull-right
                                buttonDelete padding-left-0 padding-right-0"
                                ng-click="deleteMember(member.id)">
                                <span class="fa fa-times"></span>
                                <label class="margin-bottom-0 fontSize13"
                                    translate="BDELETE"></label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- <form class="BranchesViewUpdate col-md-12" id="updateMemberBox">
        <div class="form-row col-md-12 marginTop20">
            <div class="form-group col-md-6 padding-left-0">
                <div class="form-group col-md-5 padding-left-0">
                    <label for="nameUpdate" translate="CITYNAME"></label>
                    <input ng-model="nameUpdate" type="title"
                        id="nameUpdate"
                        class="form-control backgroundGray"
                        required autofocus>
                </div>
                <div class="form-group col-md-9 padding-left-0">
                    <label for="priceUpdate" translate="CITYPRICE"></label>
                    <input ng-model="priceUpdate" type="title"
                        id="priceUpdate"
                        class="form-control backgroundGray"
                        required autofocus>
                </div>
                <div class="form-group col-md-8 padding-left-0">
                    <input type="checkbox" ng-model="cityVisibilityUpdate">
                    {{'SHOWCITYTEXT' | translate}}
                </div>
            </div>
            <div class="form-group col-md-6">
                <img class="imageMainTeam" id="mainTeamImage"
                    src="{{imageUpdate}}">
            </div>
        </div>
        <div class="form-group col-md-12">
            <label for="coreTeamPicture" translate="CITYPICTURE"></label>
            <input
                onchange="angular.element(this).scope().changeValueMainImage()"
                class="form-controlInput backgroundGray"
                type="file" id="coreTeamPicture">
        </div>
        <div class="form-group col-md-12">
            <label for="descriptionUpdate" translate="CITYDESCRIPTION"></label>
            <textarea ng-model="descriptionUpdate" type="title"
                id="descriptionUpdate" class="textAreaCoreTeam form-control
                backgroundGray"
                required autofocus>
            </div>
            <div class="form-group col-md-12">
                <button class="btn btn-lg btn-primary colorBlue
                    buttonAddBranche" ng-click="saveMember()">
                    <span class="fa fa-save"></span>
                    <label class="margin-bottom-0 fontSize13"
                        translate="UPDATECITY"></label>
                </button>
            </div>
        </div>
    </form> -->
</div>