<div class="row" ng-controller="CoreTeamCtrl">
    <form class="BranchesView col-md-12" ng-show="arrayMembers.length > 0">
        <div class="form-row col-md-12 noPadding">
            <div ng-repeat="member in arrayMembers">
                <div class="col-md-12 teamMemberItem">
                    <div class="col-md-2">
                        <img src="{{member.mainImage}}">
                    </div>
                    <div class="col-md-8">
                        <h4>{{member.charge}}</h4>
                        <h5>{{member.name}}</h5>
                        <h5>{{member.description}}</h5>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-secundary fa fa-times pull-right buttonDelete" ng-click="deleteMember(member.id)" translate="BDELETE"></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form class="BranchesView col-md-12">
        <div class="form-row col-md-12 marginTop20">
            <div class="form-group col-md-6 padding-left-0">
                <div class="form-group col-md-9 padding-left-0">
                    <label for="coreTeamCharge" translate="CCHARGE"></label>
                    <input ng-model="coreTeamCharge" type="title" id="coreTeamCharge" class="form-control backgroundGray"
                        required autofocus>
                </div>
                <div class="form-group col-md-5 padding-left-0">
                    <label for="coreTeamName" translate="CNAME"></label>
                    <input ng-model="coreTeamName" type="title" id="coreTeamName" class="form-control backgroundGray"
                        required autofocus>
                </div>
            </div>
            <div class="form-group col-md-6">
                <img class="imageMainTeam" id="mainTeamImage" src="img/user.png">
            </div>
        </div>
        <div class="form-group col-md-12">
            <label for="coreTeamPicture" translate="CPICTURE"></label>
            <input onchange="angular.element(this).scope().changeValueMainImage()" class="form-controlInput backgroundGray"
                type="file" id="coreTeamPicture">
        </div>
        <div class="form-group col-md-12">
            <label for="coreTeamDescription" translate="CDESCRIPTION"></label>
            <textarea ng-model="coreTeamDescription" type="title" id="coreTeamDescription" class="textAreaCoreTeam form-control backgroundGray"
                required autofocus>
            </div>
            <div class="form-group col-md-12">
                <button class="btn btn-lg btn-primary colorBlue buttonAddBranche" translate="ADDTEAMMEMBER" ng-click="addmember()"></button>
            </div>
        </div>
    </form>
</div>