<div class="row" ng-controller="DashBoardCtrl">
	<div ng-if="loading">
		<rd-loading></rd-loading>
	</div>
	<div class="row" ng-if="!loading">

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="widget-bodyUser">
				<rd-widget>
					<rd-widget-body class="widget-bodyUser">
						<div class="widget-icon widget-iconUser pull-left">
							<img class="iconDashboard" ng-src="./img/users.png" />
						</div>
						<div class="title">{{userCount}}</div>
						<div class="comment">Users</div>
					</rd-widget-body>
				</rd-widget>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-12" ng-click="goToProjects()">
			<div class="widget-bodyProjects">
				<rd-widget>
					<rd-widget-body class="widget-bodyProjects">
						<div class="widget-icon widget-iconProjects pull-left cursorPointer">
							<img class="iconDashboardProjects cursorPointer" ng-src="./img/projects.png" />
						</div>
						<div class="title cursorPointer">{{packageCount}}</div>
						<div class="comment cursorPointer">Packages</div>
					</rd-widget-body>
				</rd-widget>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="widget-bodyVisits">
				<rd-widget>
					<rd-widget-body class="widget-bodyVisits">
						<div class="widget-icon widget-iconVisits pull-left">
							<img class="iconDashboardProjects" ng-src="./img/visits.png" />
						</div>
						<div class="title">{{visitCount}}</div>
						<div class="comment">Visits</div>
					</rd-widget-body>
				</rd-widget>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-12" ng-click="goToOffer()">
			<div class="widget-bodyOffers">
				<rd-widget>
					<rd-widget-body>
						<div class="widget-icon widget-iconOffers pull-left cursorPointer">
							<img class="iconDashboardOffers cursorPointer" ng-src="./img/offers.png" />
						</div>
						<div class="title cursorPointer">{{offerCount}}</div>
						<div class="comment cursorPointer">Offers</div>
					</rd-widget-body>
				</rd-widget>
			</div>
		</div>
	</div>

	<div class="row" ng-if="!loading">
		<div class="col-lg-6">
			<div class="groupTitleChart">
				<img class="imgVisits" ng-src="./img/statistics.png" />
				<h4 class="VisitTitle">Visits per days</h4>
			</div>
			<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
			 chart-dataset-override="datasetOverride"></canvas>
		</div>
		<div class="col-lg-6">
			<div class="groupTitleChart">
				<img class="imgVisits" ng-src="./img/statistics.png" />
				<h4 class="VisitTitle">Users Distibutions</h4>
			</div>
			<canvas id="lineUser" class="chart chart-line" chart-data="dataUsers" chart-labels="labelsUsers" chart-series="seriesUsers" chart-options="options"
			 chart-dataset-override="datasetOverride"></canvas>
		</div>
	</div>

	<div class="row" ng-if="!loading">
		<div class="col-lg-6">
			<rd-widget>
				<rd-widget-header icon="fa-users" title="Official Users">
				</rd-widget-header>
				<rd-widget-body classes="medium no-padding">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Fullname</th>
									<th>Company</th>
									<th>Phone</th>
								</tr>
							</thead>
							<tbody ng-repeat="user in users">
								<tr ng-class="{'backgroundListTable': $index%2 == 0}">
									<td>{{user.fullName}}</td>
									<td>{{user.company}}</td>
									<td>{{user.phone}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</rd-widget-body>
			</rd-widget>
		</div>
		<div class="col-lg-6">
			<rd-widget>
				<rd-widget-header icon="fa-users" title="Projects With Offers">
				</rd-widget-header>
				<rd-widget-body classes="medium no-padding">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Project Name</th>
									<th>Company</th>
									<th>Debit Amount</th>
									<th>Offer Amount</th>
								</tr>
							</thead>
							<tbody ng-repeat="p in projectsWithOffers">
								<tr ng-class="{'backgroundListTable': $index%2 == 0}">
									<td>{{p.title}}</td>
									<td>{{p.company}}</td>
									<td>¥{{p.debit}}万</td>
									<td>¥{{p.offerAmount}}万</td>
								</tr>
							</tbody>
						</table>
					</div>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>
</div>