<div class="row groupIntroductonStyle" ng-controller="GroupIntroductionCtrl">
    <div class="pageHeader">
        <label class="subheaderPage">{{'GROUPINTRODUCE' | translate}}</label>
        <span class="icon-Image spanModeView marginRight30" ng-class="{spanModeViewOpacity: modeGroupIntroduction != '4'}"></span>
        <span class="icon-image_top spanModeView marginRight15" ng-class="{spanModeViewOpacity: modeGroupIntroduction != '3'}"></span>
        <span class="icon-image_derecha spanModeView marginRight15" ng-class="{spanModeViewOpacity: modeGroupIntroduction != '2'}"></span>
        <span class="icon-image_izquierda spanModeView marginRight15" ng-class="{spanModeViewOpacity: modeGroupIntroduction != '1'}" ng-click="changeMode(1)"></span>
    </div>
    <div class="displayFlexColumn padding-60">
        <div class="imageGroupIntroductionBox">
            <label class="subheader">{{'ADDIMAGE' | translate}}</label>
            <div class="addImageBox">
                <span ng-show="!imageGroupIntroductionFlag" class="fa fa-picture-o spanImageAdd"></span>
                <img class="imageGroup" src="{{imageGroupIntroduction}}" ng-show="imageGroupIntroductionFlag" id="imageGroupIntroduction">
            </div>
            <input type="file" class="custom-file-input inputGruopIntroductionImage" id="groupIntroductionPicture"
                onchange="angular.element(this).scope().changeImageGroupIntroduction()">            
        </div>
        <div class="imageGroupIntroductionBox marginTop10">
            <label class="subheader">{{'DESCRIPTION' | translate}}</label>
            <div class="addTextBox" ng-click="changeTextGroupState()" ng-show="!textGroupIntroductionFlag">
                <span class="fa fa-font spanTextAdd"></span>
            </div>
            <textarea id="textGroupIntroductionArea" class="textAreaGroupIntroduction form-control" ng-show="textGroupIntroductionFlag" ng-model="textGroupIntroduction"></textarea>
        </div>
        <div class="marginTop10">
            <a type="button" class="btn btn-default buttonSaveGroupIntroduction" ng-click="saveInformation()">
                <span class="fa fa-save cursorPointer"></span>
                <label class="margin-bottom-0 fontSize13 cursorPointer"> {{'SAVEGI' | translate}}</label>
            </a>
        </div>
    </div>
</div>