<div class="row groupIntroductonStyle" ng-controller="HistoryCtrl">
    <div class="pageHeader">
        <label class="subheaderPage">{{'HISTORY' | translate}}</label>
        <span class="fa fa-align-left spanModeView marginRight30" ng-class="{spanModeViewOpacity: modeGroupIntroduction != '1'}"
            ng-click="changeMode(1)"></span>
        <span class="icon-contenido_abajo spanModeView marginRight15" ng-class="{spanModeViewOpacity: modeGroupIntroduction != '2'}"></span>
    </div>
    <div class="displayFlexColumn padding-60">
        <div class="imageGroupIntroductionBox">
            <label class="subheader">{{'ADDIMAGE' | translate}}</label>
            <div class="addImageBox">
                <span ng-show="!imageGroupIntroductionFlag" class="fa fa-picture-o spanImageAdd"></span>
                <img class="imageGroup" src="{{imageGroupIntroduction}}"
                    ng-show="imageGroupIntroductionFlag"
                    id="imageGroupIntroduction">
            </div>
            <input type="file" class="custom-file-input inputGruopIntroductionImage form-control" id="groupIntroductionPicture"
                onchange="angular.element(this).scope().changeImageGroupIntroduction()">
        </div>
        <div class="imageGroupIntroductionBox marginTop10" ng-repeat="i in timelineArray" ng-show="i.id != '5caaf0120237d70068f85323'">
            <span class="fa fa-times spanCitiesClose" ng-click="deleteMember(i.id)"></span>
            <div class="displayFlexColumn">
                <div class="displayFlexRow">
                    <label class="margin-bottom-0"
                        id="timelineDate_{{$index}}">{{'YEAR' | translate}} {{i.date.getFullYear()}} {{'MONTH' | translate}} {{i.date.getMonth()+1}} {{'DAY' | translate}} {{i.date.getDate()}}</label>
                    <div class="ng-hide displayFlexRow" id="updateTimelineDate_{{$index}}">
                        <label class="margin-left-10 margin-top-5">{{'YEAR' | translate}} </label>
                        <input type="text" ng-model="year" class="form-control inputDateHistory"
                            ng-change="updateTimelineYear($index)" id="timelineYear_{{$index}}" ng-model="timelineYear">
                        <label class="margin-left-10 margin-top-5">{{'MONTH' | translate}} </label>
                        <select ng-model="month" class="form-control inputDateHistory"
                            ng-change="updateTimelineMonth($index)" id="timelineMonth_{{$index}}" ng-model="timelineMonth">
                            <option value="0">1{{'MONTHSELECT' | translate}} </option>
                            <option value="1">2{{'MONTHSELECT' | translate}} </option>
                            <option value="2">3{{'MONTHSELECT' | translate}} </option>
                            <option value="3">4{{'MONTHSELECT' | translate}} </option>
                            <option value="4">5{{'MONTHSELECT' | translate}} </option>
                            <option value="5">6{{'MONTHSELECT' | translate}} </option>
                            <option value="6">7{{'MONTHSELECT' | translate}} </option>
                            <option value="7">8{{'MONTHSELECT' | translate}} </option>
                            <option value="8">9{{'MONTHSELECT' | translate}} </option>
                            <option value="9">10{{'MONTHSELECT' | translate}} </option>
                            <option value="10">11{{'MONTHSELECT' | translate}} </option>
                            <option value="11">12{{'MONTHSELECT' | translate}} </option>
                        </select>
                        <label class="margin-left-10 margin-top-5">{{'DAY' | translate}} </label>
                        <input type="text" ng-model="day" class="form-control inputDateHistory" ng-change="updateTimelineDay($index)"
                            id="timelineDay_{{$index}}" ng-model="timelineDay">
                    </div>
                    <div id="editTimelineDate_{{$index}}" class="buttonEditHidden">
                        <a type="button" class="btn btnEditCityName buttonEdit" ng-click="editTimelineDate($index)">
                            <span class="fa fa-edit"></span>
                        </a>
                    </div>
                    <div id="saveTimelineDate_{{$index}}" class="ng-hide">
                        <a type="button" class="btn btnEditCityName buttonEditSave" ng-click="saveTimelineDate($index, i.id)">
                            <span class="fa fa-save"></span>
                        </a>
                    </div>
                </div>
                <div class="displayFlexRow">
                    <label class="margin-bottom-0"
                        id="timelineDescription_{{$index}}">{{i.description}}</label>
                    <textarea id="updateTimelineDescription__{{$index}}" ng-change="updateTimelineDescription($index)"
                        class="ng-hide textAreaGroupIntroduction form-control" type="text" ng-model="timelineDescription"></textarea>
                    <div id="editTimelineDescription_{{$index}}" class="buttonEditHidden">
                        <a type="button" class="btn btnEditCityName buttonEdit" ng-click="editTimelineDescription($index, i.description)">
                            <span class="fa fa-edit"></span>
                        </a>
                    </div>
                    <div id="saveTimelineDescription_{{$index}}"
                        class="ng-hide">
                        <a type="button" class="btn btnEditCityName buttonEditSave" ng-click="saveTimelineDescription($index, i.id)">
                            <span class="fa fa-save"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="imageGroupIntroductionBox marginTop10">
            <label>{{ 'DATE' | translate }}</label>
            <div class="displayFlexRow">
                <label class="margin-left-10 margin-top-5">{{'YEAR' | translate}} </label>
                <input type="text" ng-model="year" class="form-control inputDateHistory">
                <label class="margin-left-10 margin-top-5">{{'MONTH' | translate}} </label>
                <select ng-model="month" class="form-control inputDateHistory">
                    <option value="0">1{{'MONTHSELECT' | translate}} </option>
                    <option value="1">2{{'MONTHSELECT' | translate}} </option>
                    <option value="2">3{{'MONTHSELECT' | translate}} </option>
                    <option value="3">4{{'MONTHSELECT' | translate}} </option>
                    <option value="4">5{{'MONTHSELECT' | translate}} </option>
                    <option value="5">6{{'MONTHSELECT' | translate}} </option>
                    <option value="6">7{{'MONTHSELECT' | translate}} </option>
                    <option value="7">8{{'MONTHSELECT' | translate}} </option>
                    <option value="8">9{{'MONTHSELECT' | translate}} </option>
                    <option value="9">10{{'MONTHSELECT' | translate}} </option>
                    <option value="10">11{{'MONTHSELECT' | translate}} </option>
                    <option value="11">12{{'MONTHSELECT' | translate}} </option>
                </select>
                <label class="margin-left-10 margin-top-5">{{'DAY' | translate}} </label>
                <input type="text" ng-model="day" class="form-control inputDateHistory">
            </div>
            <label class="subheader marginTop10">{{'PDESC' | translate}}</label>
            <div class="addTextBox" ng-click="changeTextGroupState()" ng-show="!textGroupIntroductionFlag">
                <span class="fa fa-font spanTextAdd"></span>
            </div>
            <textarea id="textGroupIntroductionArea" class="textAreaGroupIntroduction form-control" ng-show="textGroupIntroductionFlag" ng-model="textGroupIntroduction"></textarea>
        </div>
        <div class="marginTop10">
            <a type="button" class="btn btn-default buttonSaveGroupIntroduction" ng-click="saveInformation()">
                <span> {{'SAVEMILESTONE' | translate}} </span>
            </a>
        </div>
    </div>
</div>