<div class="row groupIntroductonStyle" ng-controller="HonorCtrl">
    <div class="pageHeader">
        <label class="subheaderPage">{{'HONOR' | translate}}</label>
        <span class="icon-image_izquierda spanModeView marginRight30" ng-class="{spanModeViewOpacity: modeGroupIntroduction != '1'}" ng-click="changeMode(1)"></span>
        <span class="icon-image_top spanModeView marginRight15" ng-class="{spanModeViewOpacity: modeGroupIntroduction != '2'}"></span>
    </div>
    <div class="padding-60 margin-bottom-0" ng-show="servicesProcessArray.length > 0">
        <div class="itemServicesProcess displayFlexRow" ng-repeat="s in servicesProcessArray">
            <span class="fa fa-trash servicesProcessDelete" ng-click="deleteServicesProcess(s.id, $index)"></span>
            <div class="imageServicesProcessBox">
                <div class="addImageServicesProcessBox">
                    <img class="imageServicesProcess" ng-src="{{s.image}}">
                </div>
                <input type="file" class="custom-file-input inputServicesProcessImage" id="updateServicesProcessPicture_{{$index}}"
                    onchange="angular.element(this).scope().changeImageServicesProcess(angular.element(this).scope().$index)">
            </div>
            <div class="textServicesProcessBox">                
                <div class="updateCityNameClass">
                    <label class="margin-bottom-0" id="serviceDescription_{{$index}}">{{s.description}}</label>
                    <textarea id="updateServiceDescription_{{$index}}" ng-change="updateServiceDescription($index)" class="ng-hide form-control textAreaHonor 
                    margin-top-5 width90P" type="text" ng-model="serviceDescription"></textarea>
                    <div id="editServiceDescription_{{$index}}" class="buttonEditHidden">
                        <a type="button" class="btn btnEditCityName buttonEdit" ng-click="editServiceDescription($index, s.description)">
                            <span class="fa fa-edit"></span>
                        </a>
                    </div>
                    <div id="saveServiceDescription_{{$index}}" class="ng-hide">
                        <a type="button" class="btn btnEditCityName buttonEditSave" ng-click="saveServiceDescription($index, s.id)">
                            <span class="fa fa-save"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="orderBox">
                <div class="spanOrderBoxServicesProcess" ng-show="$index != 0 && $index != servicesProcessArray.length -1">
                    <span class="fa fa-angle-up" ng-click="orderUp($index)"></span>
                </div>
                <div class="spanOrderBox marginTop4" ng-show="$index != 0 && $index != servicesProcessArray.length -1">
                    <span class="fa fa-angle-down" ng-click="orderDown($index)"></span>
                </div>
                <div class="spanOrderBoxServicesProcess" ng-show="$index == 0 && $index != servicesProcessArray.length -1">
                    <span class="fa fa-angle-down" ng-click="orderDown($index)"></span>
                </div>
                <div class="spanOrderBoxServicesProcess" ng-show="$index != 0 && $index == servicesProcessArray.length -1">
                    <span class="fa fa-angle-up" ng-click="orderUp($index)"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="padding-60 margin-bottom-0">
        <div class="backgroundWhite displayFlexRow">            
            <div class="imageServicesProcessBox">
                <div class="addImageServicesProcessBox">
                    <span ng-show="!imageGroupIntroductionFlag" class="fa fa-picture-o spanServicesProcessImageAdd"></span>
                    <img class="imageServicesProcess" src="{{imageGroupIntroduction}}" ng-show="imageGroupIntroductionFlag" id="imageGroupIntroduction">
                </div>
                <input type="file" class="custom-file-input inputServicesProcessImage" id="groupIntroductionPicture"
                    onchange="angular.element(this).scope().changeImageGroupIntroduction()">
            </div>
            <div class="textServicesProcessBox">
                <div class="addTextBox" ng-click="changeTextGroupState()" ng-show="!textGroupIntroductionFlag">
                    <span class="fa fa-font spanServicesProcessTextAdd"></span>
                </div>
                <textarea id="textGroupIntroductionArea" class="textAreaHonor form-control" ng-show="textGroupIntroductionFlag"
                    ng-model="textGroupIntroduction"></textarea>
            </div>
        </div>
        <div class="buttonAddServicesProcess marginTop10">
            <a type="button" class="btn btn-default buttonSaveGroupIntroduction" ng-click="saveInformation()">
                <span class="fa fa-save"> {{'SAVEHONOR' | translate }}</span>
            </a>
        </div>
    </div>
</div>