<div class="row" ng-controller="HoopaBranchesCtrl">
    <form class="BranchesView col-md-12">
        <div class="form-row col-md-12">
            <div class="form-group col-md-6">
                <label for="branchesName" translate="BNAME"></label>
                <input ng-model="brancheName" type="title" id="branchesName" class="form-control backgroundGray"
                    required autofocus>
            </div>
            <div class="form-group col-md-12">
                <label for="brancheAddress" translate="BADDRESS"></label>
                <input ng-model="brancheAddress" type="title" id="branchesAddress" class="form-control backgroundGray"
                    required autofocus>
            </div>
            <div class="form-group col-md-6">
                <label for="branchePhone" translate="BPHONE"></label>
                <input ng-model="branchePhone" type="title" id="branchesPhone" class="form-control backgroundGray"
                    required autofocus>
            </div>
            <div class="form-group col-md-6">
                <label for="branchesCoordenates" translate="BCOORDENATES"></label>
                <input ng-model="branchesCoordenates" type="title" id="branchesCoordenates" class="form-control backgroundGray"
                    required autofocus>
            </div>
            <div class="form-group col-md-12">
                <button class="btn btn-lg btn-primary colorBlue buttonAddBranche" ng-click="addBranchs()" translate="ADDBRANCHE"></button>
            </div>
        </div>
    </form>
</div>