<div class="row" ng-controller="InboxCtrl">
    <div class="col-md-3 padding-0 marginTopInbox margin-bottom-0" style="overflow-y: scroll; height: {{height-60}}px;">
        <div ng-repeat="i in inbox" class="messagesInbox" ng-class="{'colorListActive': i.senderId == senderId}">
            <div ng-click="goToConversation(i)" class="col-md-12 padding-0" style="text-align: center;">
                <div class="col-md-12 padding-0" style="display: flex;flex-direction: column;align-items: center;">
                    <img class="imgAvatar" ng-show="i.avatar.length > 0" ng-src="{{i.avatar}}" />
                    <img class="imgAvatar" ng-show="!i.avatar.length > 0" ng-src="img/avatar.jpg" />
                </div>
                <h4 class="col-md-12 padding-0">{{i.fullName}}</h4>
            </div>
        </div>
    </div>
    <div class="col-md-9 marginTopInbox margin-bottom-0 padding-0">
        <div class="messageBox margin-bottom-0" style="overflow-y: scroll; height: {{height-150}}px;">
            <div ng-repeat="i in Messages">
                <div class="senderGroup" ng-show="i.type == 'sender'">
                    <label class="labelDateSender">{{i.releaseTime}}</label>
                    <div class="groupSender">
                        <img class="avatar" ng-show="i.avatar.length > 0" ng-src="{{i.avatar}}" />
                        <img class="avatar" ng-show="!i.avatar.length > 0" ng-src="./img/avatar.jpg" />
                        <div class="MessagesUser">
                            <label class="content">{{i.content}}</label>
                        </div>
                    </div>
                </div>
                <div class="receiverGroup" ng-show="i.type == 'receiver'">
                    <label class="labelDateReceiver">{{i.releaseTime}}</label>
                    <div class="groupReceiver">
                        <div class="MessagesAdmin">
                            <label class="content">{{i.content}}</label>
                        </div>
                        <img class="avatarAdmin" ng-src="./img/admin.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="sendBox margin-bottom-0">
            <textarea ng-keypress="keyPress($event)" ng-model="messageText" class="textareaMessageSend"></textarea>
            <a class="btn btn-primary sendButton" ng-click="sendMessage()" translate="SEND"></a>
        </div>
    </div>
</div>