<div class="row" ng-controller="LoginCtrl">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-tabs pull-right">
                <li role="presentation" class="active">
                    <a href="#login" translate="LOGIN">Login登录</a>
                </li>
                <li role="presentation">
                    <a href="#signup" translate="SIGNUP">Sign Up登记</a>
                </li>
            </ul>
        </nav>
        <!-- <h3 class="text-muted">宝贝出售</h3> -->
    </div>

    <div class="loginBox">
        
        <div class="row alerts-container" data-ng-show="alertsLogin.length">
            <div class="col-xs-12">
                <uib-alert data-ng-repeat="alert in alertsLogin" type="{{alert.type}}" close="closeAlertLogin($index)">{{alert.msg}}</uib-alert>
            </div>
        </div>

        <form class="form-signin">
            <h2 class="form-signin-heading margin-top-0" translate="LOGIN">Login 登录</h2>
            <label for="inputUsername" translate="USERNAME">用户</label>
            <input ng-model="username" type="username" id="inputUsername" class="form-control" required autofocus>
            <label for="inputPassword" translate="PASSWORD">密码</label>
            <input ng-model="password" type="password" id="inputPassword" class="form-control" required>
            <button class="btn btn-lg btn-primary btn-block buttonLogin" ng-click="login()" translate="LOGIN">登录</button>
        </form>
    </div>
    
</div>
<!-- /container -->