<div class="row groupIntroductonStyle" ng-controller="LoginCtrl">   
    <div class="loginBox" style="height:{{loginHeight}}px">
        <div class="row alerts-container" data-ng-show="alertsLogin.length">
            <div class="col-xs-12">
                <uib-alert data-ng-repeat="alert in alertsLogin"
                    type="{{alert.type}}" close="closeAlertLogin($index)">{{alert.msg}}</uib-alert>
            </div>
        </div>
        <div class="loginBoxInside">
            <div class="displayFlexColumn">
                <img src="./img/LogoHoopaColor.png" class="imgLoginLogo">
                <img src="./img/login.png" class="imgLogin">
            </div>
            <div class="loginData">
                <label class="margin-bottom-0 labelLogin" translate="LOGIN"></label>
                <div>
                    <i class="icon-user iconUsernameLogin"></i>
                    <input placeholder="{{'USERNAME' | translate}}" ng-model="username" type="username" id="inputUsername" class="form-control marginTop10 inputLogin height40" required autofocus>
                </div>
                <div>
                    <i class="icon-pass iconUsernameLogin"></i>
                    <input placeholder="{{'PASSWORD' | translate}}" ng-model="password" type="password" id="inputPassword" class="form-control marginTop10 inputLogin height40" required>
                </div>
                <button class="btn btn-primary buttonLogin fontSize13 marginTop10 height40" ng-click="login()" translate="LOGIN"></button>
                <a class="buttonRegisterLogin" href="#signup"> {{ 'SIGNUP' | translate }} </a>
            </div>
        </div>
    </div>
</div>