<div class="row" ng-controller="MessagesCtrl">
    <div class="messageBox margin-bottom-0" style="overflow-y: scroll; height: {{height-115}}px;">
        <div ng-repeat="i in Messages">
            <div class="senderGroup" ng-show="i.type == 'sender'">
                <label class="labelDateSender">{{i.releaseTime}}</label>
                <div class="groupSender">
                    <img class="avatar" ng-show="i.avatar.length > 0" ng-src="{{i.avatar}}"/>
                    <img class="avatar" ng-show="!i.avatar.length > 0" ng-src="./img/avatar.jpg"/>
                    <div class="MessagesUser">
                        <label class="content">{{i.content}}</label>
                    </div>
                </div>
            </div>
            <div class="receiverGroup" ng-show="i.type == 'receiver'">
                <label class="labelDateReceiver">{{i.releaseTime}}</label>
                <div class="groupReceiver">
                    <div class="MessagesAdmin">
                        <label class="content">{{i.content}}</label>
                    </div>
                    <img class="avatarAdmin" ng-src="./img/admin.png"/>
                </div>
            </div>
        </div>
    </div>
    <div class="sendBox margin-bottom-0">
        <textarea ng-keypress="keyPress($event)" ng-model="messageText" class="textareaMessageSend"></textarea>
        <img ng-click="sendMessage()" ng-src="./img/send.png" class="sendImage"></img>
    </div>
</div>