<div class="row" ng-controller="NewsCtrl">
    <ul class="media-list custom-media-list" ng-repeat="f in news">
        <li class="media">
            <div class="media-left">
                <a>
                    <img class="media-object notification-image" ng-src="{{f.mainImage}}">
                </a>
            </div>
            <div class="media-body">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="media-heading"> {{f.title}}
                        </h4>
                        <h5>{{f.content}}</h5>
                    </div>
                    <div class="col-md-2 margin-bottom-0">
                        <a class="btn btn-secundary fa fa-eye pull-right buttonShow" ng-click="goToNews($index)" translate="BSHOW"></a>
                        <a class="btn btn-secundary fa fa-times pull-right buttonDelete" ng-click="deleteNews(f.id)" translate="BDELETE"></a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="paginationBox" ng-hide="news.length < 10 && skip == 0">
        <nav aria-label="Page navigation">
            <div class="col-md-12">
                <div class="col-md-5 padding-15">
                    <a ng-disabled="skip < 10" class="btn btn-default pull-right" translate="PREVIOUS" ng-click="previous()"></a>
                </div>
                <div class="col-md-5 col-md-offset-2 padding-15">
                    <a ng-disabled="news.length < 10" class="btn btn-default" translate="NEXT" ng-click="next()"></a>
                </div>
            </div>
        </nav>
    </div>
    <div class="NoComments" ng-show="news.length == 0">
        <h1 translate="NONEWS"></h1>
    </div>
</div>