<div class="col-lg-12" ng-controller="OffersCtrl">
    <div class="inboxBox" ng-hide="offers.length == 0">
        <div ng-repeat="offer in offers" class="OfferBox margin-top--10">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offerContentGroup">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <img class="imgAvatarOffers" ng-src="{{offer.avatar}}" />
                </div>
                <div class="offerContent col-md-2">
                    <h5>{{offer.userFullName}}</h5>
                    <h5 class="margin-top-0 margin-bottom-0 colorMoney">¥{{offer.amount}}万</h5>
                </div>
                <div class="offerContent textEnd col-md-1">
                    <h5 translate="PUTITLE"></h5>
                    <h5 translate="PUDESC"></h5>
                </div>
                <div class="offerContent col-md-5">
                    <h5>{{offer.projectTitle}}</h5>
                    <h5 class="margin-top-0 margin-bottom-0">{{offer.projectDescription}}</h5>
                </div>
                <span class="fa fa-clock-o col-md-1"> {{offer.date}}</span>
                <div class="offerContent col-md-1">
                    <h5 class="cursorPointer" ng-show="offer.pending">
                        <span tooltip="Server Down!" class="text-danger">
                            <i class="fa fa-warning"></i>
                        </span>
                        <label class="margin-bottom-0 cursorPointer" translate="PENDING"></label>
                    </h5>
                    <h5 class="cursorPointer" ng-show="!offer.pending">
                        <span tooltip="Server Down!" class="text-success">
                            <i class="fa fa-check"></i>
                        </span>
                        <label class="margin-bottom-0 cursorPointer" translate="READY"></label>
                    </h5>
                </div>
                <div class="offerContent col-md-1 cursorPointer" ng-click="openOfferFunction(offer.offerId)">
                    <img class="angles" ng-show="!offer.open" ng-src="./img/angle_right.png" />
                    <img class="angles" ng-show="offer.open" ng-src="./img/angle_down.png" />
                </div>
            </div>
            <div ng-show="offer.open" class="offerResponse col-md-12">
                <!-- <div class="notifyBox col-md-2 padding-0">
                        <div class="notifyUser">
                            <label>Notify User</label>
                        </div>
                        <div class="notifyManager">
                            <label>Notify Manager</label>
                        </div>
                    </div> -->
                <div class="col-md-11 textAreaOffer">
                    <textarea class="textAreaOfferResponse backgroundGray no-resize" ng-model="content"></textarea>
                </div>
                <div class="col-md-1 sendOffer">
                    <a class="btn btn-primary sendButtonOffer" translate="SEND" ng-click="sendOfferNotification(offer.offerId, offer.userId, offer.projectId, content)"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="paginationBox" ng-hide="offers.length < 10 && skip == 0">
        <nav aria-label="Page navigation">
            <div class="col-md-12">
                <div class="col-md-5 padding-15">
                    <a ng-hide="skip < 10" class="btn btn-default pull-right" translate="PREVIOUS" ng-click="previous()"></a>
                </div>
                <div class="col-md-5 col-md-offset-2 padding-15">
                    <a ng-hide="offers.length < 10" class="btn btn-default" translate="NEXT" ng-click="next()"></a>
                </div>
            </div>
        </nav>
    </div>
    <div class="NoComments" ng-show="offers.length == 0">
        <h1 translate="NOOFFERS"></h1>
    </div>
</div>