<div class="col-lg-12" ng-controller="OffersCtrl">
    <div class="inboxBox">
        <div ng-repeat="offer in offers" class="OfferBox">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offerContentGroup">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <img class="imgAvatar" ng-src="{{offer.avatar}}" />
                </div>
                <div class="offerContent col-md-8">
                    <h5>{{offer.userFullName}}</h5>
                    <h5 class="margin-top-0 margin-bottom-0 colorMoney">¥{{offer.amount}}万</h5>
                </div>
                <h5 class="col-md-1">{{offer.date}}</h5>
                <div class="offerContent col-md-1" ng-click="changePending()">
                    <h5 ng-show="!offer.pending">
                        <span tooltip="Server Down!" class="text-danger">
                            <i class="fa fa-warning"></i>
                        </span>
                        <label class="margin-bottom-0" translate="PENDING"></label>
                    </h5>
                    <h5 ng-show="offer.pending">
                        <span tooltip="Server Down!" class="text-success">
                            <i class="fa fa-check"></i>
                        </span>
                        <label class="margin-bottom-0" translate="READY"></label>
                    </h5>
                </div>
                <div class="offerContent col-md-1" ng-click="openOfferFunction(offer.offerId)">
                    <img class="angles" ng-show="!offer.open" ng-src="./img/angle_right.png" />
                    <img class="angles" ng-show="offer.open" ng-src="./img/angle_down.png" />
                </div>
            </div>
            <div ng-show="offer.open" class="offerResponse col-md-12">
                <!-- <div class="notifyBox col-md-2 padding-0">
                        <div class="notifyUser">
                            <label>Notify User</label>
                        </div>
                        <div class="notifyManager">
                            <label>Notify Manager</label>
                        </div>
                    </div> -->
                <div class="col-md-11 textAreaOffer">
                    <textarea class="textAreaOfferResponse backgroundGray"></textarea>
                </div>
                <div class="col-md-1 sendOffer">
                    <a class="btn btn-primary sendButtonOffer" translate="SEND"></a>
                </div>
            </div>
        </div>
    </div>
</div>