<div class="row groupIntroductonStyle padding-60" ng-controller="OffersCtrl">

    <div ng-if="loading">
        <rd-loading></rd-loading>
    </div>

    <div class="inboxBox" ng-hide="offers.length == 0" ng-if="!loading">
        <div ng-repeat="offer in offers" class="mediaOffers padding20 borderHoverColor">
            <div class="displayFlexRow width100">
                <div class="width10">
                    <img ng-show="offer.avatar.length > 0" class="imgAvatarOffers" ng-src="{{offer.avatar}}" />
                    <img ng-show="!offer.avatar.length > 0" class="imgAvatarOffers" ng-src="img/avatar.jpg" />
                </div>
                <div class="offerContent width10">
                    <h5>{{offer.userFullName}}</h5>
                    <h5 class="margin-top-0 margin-bottom-0 colorMoney">¥{{offer.amount}}万</h5>
                </div>
                <div class="offerContent textEnd width10 cursorPointer" ng-click="goToProject(offer.projectId)">
                    <h5 translate="PUTITLE"></h5>
                    <h5 translate="PUDESC"></h5>
                </div>
                <div class="displayFlexColumn marginLeft15 width45 cursorPointer" ng-click="goToProject(offer.projectId)">
                    <h5>{{offer.projectTitle | cut:true:30:' ...'}}</h5>
                    <h5 class="margin-top-0 margin-bottom-0">{{offer.content | cut:true:30:' ...'}}</h5>
                </div>
                <span class="icon-fecha marginLeft15 offerDate"> {{offer.date}}</span>
                <div class="offerContent marginLeft15">
                    <h5 class="cursorPointer" ng-show="offer.pending">
                        <label class="margin-bottom-0 cursorPointer" translate="PENDING"></label>
                    </h5>
                    <h5 class="cursorPointer" ng-show="!offer.pending">
                        <label class="margin-bottom-0 cursorPointer" translate="READY"></label>
                    </h5>
                </div>
                <div class="offerContent marginLeft15 cursorPointer" ng-click="openOfferFunction(offer.offerId)">
                    <img class="angles" ng-show="!offer.open" ng-src="./img/angle_right.png" />
                    <img class="angles" ng-show="offer.open" ng-src="./img/angle_down.png" />
                </div>
            </div>
            <div ng-show="offer.open" class="offerResponse">
                <div class="col-md-11 textAreaOffer">
                    <textarea class="textAreaOfferResponse backgroundGray no-resize" ng-model="content"></textarea>
                </div>
                <div class="col-md-1 sendOffer">
                    <a class="btn btn-primary sendButtonOffer icon-select" ng-click="sendOfferNotification(offer.offerId, offer.userId, offer.projectId, content)"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="paginationBox" ng-hide="offers.length < 7 && skip == 0">
        <nav aria-label="Page navigation">
            <div class="col-md-12">
                <div class="col-md-5 padding-15">
                    <a ng-hide="skip < 7" class="btn btn-default pull-right btnPagination" translate="PREVIOUS" ng-click="previous()"></a>
                </div>
                <div class="col-md-5 col-md-offset-2 padding-15">
                    <a ng-hide="offers.length < 7" class="btn btn-default btnPagination" translate="NEXT" ng-click="next()"></a>
                </div>
            </div>
        </nav>
    </div>
    <div class="NoComments" ng-show="offers.length == 0">
        <h1 translate="NOOFFERS"></h1>
    </div>
</div>