<div class="row" ng-controller="ProjectListCtrl">
  <div class="custom-media-list">
    <a class="btn btn-primary fa fa-plus" href="#new-project"> {{'NEWPACKAGE' | translate}} </a>
  </div>
  <div class="h-divider"></div>
    <ul class="media-list custom-media-list" ng-repeat="project in products">
      <li class="media">
        <div class="media-left">
          <a>
            <img class="media-object notification-image" ng-src="{{project.imageUrl}}">
          </a>
        </div>

        <div class="media-body">
          <div class="row">
            <div class="col-md-6">
                <h4 class="media-heading"> {{project.title}} <small><i class="fa fa-clock-o"> Published on {{project.releaseTime}}</i></small></h4>
              {{project.description}}
            </div>
            <div class="col-md-3">
                <h5 class="media-heading"> <small><i class="fa fa-money"> </i></small> {{project.debitAmount}}</h5>
                <h5 class="media-heading"> <small><i class="fa fa-credit-card"> </i></small> {{project.plainAddress}}</h5>
            </div>
            <div class="col-md-3">
              <a class="btn btn-secundary fa fa-times pull-right" ng-click="deleteProduct(project.id)" translate="BDELETE"> DELETE </a>
            </div>
          </div>

        </div>
      </li>
      <div class="h-divider"></div>
    </ul>
  </div>
</div>