<div class="row groupIntroductonStyle padding-60" ng-controller="ProjectListCtrl">

  <div ng-if="loading">
    <rd-loading></rd-loading>
  </div>

  <ul class="media-list" ng-repeat="project in products" ng-hide="products.length == 0" ng-if="!loading">
    <li class="media borderHoverColor">
      <div class="media-left padding-0">
        <a ng-click="goToProject(project.id)">
          <img class="media-object notification-image" ng-src="{{project.imageUrl}}">
        </a>
      </div>
      <div class="media-body">
        <div class="displayFlexRow height120">
          <div class="displayFlexColumn marginLeft15 titleProjectStyle">
            <a>
              <h4 ng-click="goToProject(project.id)" class="media-heading">{{project.title | cut:true:45:' ...'}}</h4>
            </a>
            <h5 ng-click="goToProject(project.id)">{{project.credits | cut:true:120:' ...'}}</h5>
          </div>
          <div class="displayFlexColumn marginLeft15 alignVerticalMiddle width11">
            <h4 class="media-heading font-weight-unset">
              <i class="icon-user" aria-hidden="true"> </i>
              {{project.ownerUsername}}
            </h4>            
          </div>
          <div class="displayFlexColumn marginLeft15 alignVerticalMiddle width13">
            <h4 class="media-heading font-weight-unset marginTop10">
              <i class="icon-fecha" aria-hidden="true"> </i>
              {{project.releaseTime}}
            </h4>
          </div>
          <div class="displayFlexColumn marginLeft15 alignVerticalMiddle width8">
              <span class="icon-view iconShowProject" ng-click="goToProject(project.id)"></span>
          </div>
          <div class="displayFlexColumn marginLeft15 alignVerticalMiddle width8">
              <span class="fa fa-trash iconDeleteProject" ng-click="deleteProduct(project.id)"></span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="paginationBox" ng-hide="products.length <10 && skip == 0">
    <nav aria-label="Page navigation">
      <div class="col-md-12">
        <div class="col-md-5 padding-15">
          <a ng-hide="skip <10" class="btn btn-default pull-right btnPagination" translate="PREVIOUS" ng-click="previous()"></a>
        </div>
        <div class="col-md-5 col-md-offset-2 padding-15">
          <a ng-hide="products.length <10" class="btn btn-default btnPagination" translate="NEXT" ng-click="next()"></a>
        </div>
      </div>
    </nav>
  </div>
  <div class="NoComments" ng-show="products.length == 0">
    <h1 translate="NOPROJECTS"></h1>
  </div>
</div>