<div class="row" ng-controller="ProjectListCtrl">
    <div>
        <a class="btn btn-primary new-product fa fa-plus" href="#new-project">  {{'NEWPACKAGE' | translate}} </a>
    </div>
    <ul class="list-unstyled">
      <li class="margin-bottom-15" ng-repeat="project in products">
        <hr class="tall">
        <div class="clearfix">
          <div class="col-sm-2 col-md-2 col-lg-2 no-padding">
            <img  ng-src="{{project.imageUrl}}" class="img-responsive notification-image">
          </div>
          <div class="thread-content col-sm-10 col-md-10 col-lg-10 no-padding">
            <span class="notification-author">{{project.title}}</span>
          </div>
          <div class="thread-content col-sm-10 col-md-10 col-lg-10 no-padding">
            <span> {{project.description}} </span>
          </div>
          <div class="thread-content col-sm-10 col-md-10 col-lg-10 no-padding">
            <label><strong>用户:</strong></label>
            <span> {{project.ownerUsername}}</span>
          </div>
          <div class="thread-content col-sm-10 col-md-10 col-lg-10 no-padding">
            <label><strong>日期:</strong></label>
            <span> {{project.releaseTime}}</span>
          </div>
        </div>
      </li>
    </ul>    
</div>