<div class="row" ng-controller="LoginCtrl">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-tabs pull-right">
        <li role="presentation">
          <a href="#login" translate="LOGIN">登录</a>
        </li>
        <li role="presentation" class="active">
          <a href="#" translate="SIGNUP">登记</a>
        </li>
      </ul>
    </nav>
    <!-- <h3 class="text-muted">宝贝出售</h3> -->
  </div>

  <div class="registerBox">

      <div class="row alerts-container" data-ng-show="alertsLogin.length">
          <div class="col-xs-12">
              <uib-alert data-ng-repeat="alert in alertsLogin" type="{{alert.type}}" close="closeAlertLogin($index)">{{alert.msg}}</uib-alert>
          </div>
      </div>

    <form class="form-signup" ng-show="!registered">
        <h2 class="form-signup-heading margin-top-0" translate="SIGNUP">登记</h2>
        <label for="inputUsername" translate="USERNAME">用户</label>
        <input ng-model="username" type="username" id="inputUsername" class="form-control" required autofocus>
        <label for="inputPassword" translate="PASSWORD">密码</label>
        <input ng-model="password" type="password" id="inputPassword" class="form-control" required>
        <label for="inputEmail" translate="EMAIL">电子邮件</label>
        <input ng-model="email" type="email" id="inputEmail" class="form-control" required>
        <button class="btn btn-lg btn-primary btn-block" ng-click="signup()" translate="SIGNUP">登记</button>
      </form>
  </div>  
</div>
<!-- /container -->