
@font-face {
  font-family: 'MicrosoftYaHei';
  src: url('MicrosoftYaHei.eot?#iefix') format('embedded-opentype'),  url('MicrosoftYaHei.woff') format('woff'), url('MicrosoftYaHei.ttf')  format('truetype'), url('MicrosoftYaHei.svg#MicrosoftYaHei') format('svg');
  font-weight: normal;
  font-style: normal;
}
