<!doctype html>
<html lang="en" ng-app="RDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Hoopa Backend</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
  <link rel="stylesheet" type="text/css" href="main.css">
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar" ng-controller="LoginCtrl">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            <img ng-src="./img/LogoHoopa.png" class="imgLogo">
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title" ng-if="getUser() != ' '"><span>导航</span></li>
        <li class="sidebar-list" ng-if="getUser() != ' '">
          <a href="#project-list">项目<span class="menu-icon fa fa-briefcase"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header" ng-controller="LoginCtrl">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header dropdown-user" ng-if="getUser() != ' '">
                    <i class="fa fa-user marginLeft lineHeight"></i>{{getUser()}}
                  </li>
                  <li class="divider" ng-if="getUser() != ' '"></li>
                  <li class="dropdown-header dropdown-user" ng-if="getUser() != ' '">                    
                    <a href="#" class="no-padding" ng-click="logout()">
                      <i class="fa fa-sign-out lineHeight"></i>
                      注销
                    </a>
                  </li>
                  <li class="dropdown-header dropdown-user" ng-if="getUser() == ' '">
                    <a href="#login">
                        <i class="fa fa-sign-in lineHeight"></i>
                        登录
                    </a>
                  </li>
                </ul>
              </div>
              <!-- <div class="item dropdown" uib-dropdown>
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div> -->
            </div>
            <div class="meta">
              <div class="page">
                  Hoopa 后端
              </div>
              <!-- <div class="breadcrumb-links">
                Simple is better
              </div> -->
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
