<!doctype html>
<html lang="en" ng-app="RDash">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Hoopa Backend</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
  <link rel="stylesheet" type="text/css" href="../node_modules/mdbootstrap/css/mdb.css">
  <link rel="stylesheet" type="text/css" href="main.css">
  <!-- endbuild -->
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="lib/fonts/MicrosoftYaHei/styles.css">
  <link rel="stylesheet" type="text/css" href="lib/fonts/FontAwesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="lib/fonts/Bootstrap/dist/css/bootstrap.css">

  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="components/angular-translate/angular-translate.min.js"></script>
  <script type="text/javascript" src="../node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script type="text/javascript" src="../node_modules/chart.js/dist/Chart.min.js"></script>
  <script type="text/javascript" src="../node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  <script type="text/javascript" src="../node_modules/mdbootstrap/js/mdb.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
</head>

<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar" ng-controller="LoginCtrl">
        <li class="sidebar-main cursorPointer">
          <a class="" ng-click="toggleSidebar()">
            <img ng-src="./img/LogoHoopa.png" class="imgLogo">
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title" ng-if="getUser() != ' '">
          <span translate="NAV" class="marginLeft-5">导航</span>
        </li>

        <li class="sidebar-list" ng-class="{'colorListActive': activeList == 'dashboard'}" ng-if="getUser() != ' '">
          <a href="#dashboard" ng-click="changeActiveList('dashboard')" ng-class="{'colorListActive':activeList != 'dashboard'}">
            <span class="menu-icon fa fa-tachometer"></span>
            <label class="listFirstLevel margin-bottom-0">{{'DASH' | translate}}</label>
          </a>
        </li>

        <li class="sidebar-list" ng-if="getUser() != ' '">
          <a ng-click="changeActiveList('subject')">
            <span class="fa fa-angle-down menu-icon" ng-class="{'hiddeNewProjectButton': (activeList != 'projects' && activeList != 'newprojects') && 
            (activeList != 'inbox') && (activeList != 'offers') && (activeList != 'forum') && (activeList != 'cities') && (activeList != 'subject')}"></span>
            <span class="fa fa-angle-right menu-icon" ng-class="{'hiddeNewProjectButton': (activeList == 'projects' || activeList == 'newprojects') || 
            (activeList == 'inbox') || (activeList == 'offers') || (activeList == 'forum') || (activeList == 'cities') || (activeList == 'subject')}"></span>
            <label class="listFirstLevel margin-bottom-0">{{'SUBJECT' | translate}}</label>
          </a>
          <ul class="padding-0 width100 listUnstyled" ng-class="{'hiddeNewProjectButton': (activeList != 'projects' && activeList != 'newprojects') && 
                                                                  (activeList != 'inbox') && (activeList != 'offers') && (activeList != 'forum') && 
                                                                  (activeList != 'cities') && (activeList != 'subject')}">
              <li class="sidebar-list" ng-if="getUser() != ' '">
                <a href="#project-list" ng-click="changeActiveList('projects')" ng-class="{'colorListActive': activeList == 'projects'}">
                  <span class="fa fa-angle-down menu-icon" ng-class="{'hiddeNewProjectButton': activeList != 'projects' && activeList != 'newprojects'}"></span>
                  <span class="fa fa-angle-right menu-icon" ng-class="{'hiddeNewProjectButton': activeList == 'projects' || activeList == 'newprojects'}"></span>
                  <label class="listSecondLevel margin-bottom-0">{{'PACKAGES' | translate}}</label>                    
                </a>
                <ul class="padding-0 width100 listUnstyled" ng-class="{'hiddeNewProjectButton': activeList != 'projects' && activeList != 'newprojects'}">
                  <li>
                    <a href="#new-project" style="padding-left: 10%;" ng-class="{'colorListActive': activeList == 'newprojects'}">
                      <span class="fa fa-plus menu-icon"></span>
                      <label class="listSecondLevel margin-bottom-0">{{'NEWPACKAGE' | translate}}</label>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="sidebar-list" ng-if="getUser() != ' '">
                <a href="#inbox" ng-click="changeActiveList('inbox')" ng-class="{'colorListActive': activeList == 'inbox'}">
                    <span class="menu-icon fa fa-envelope"></span>
                    <span ng-show="notificationsMessages" class="badgeMessage" ng-class="{'badgeMessageActive': activeList == 'inbox'}"></span>
                    <label class="listSecondLevel margin-bottom-0">{{'MESSAGES' | translate}}</label>
                </a>
              </li>
              <li class="sidebar-list" ng-if="getUser() != ' '">
                  <a href="#offers" ng-click="changeActiveList('offers')" ng-class="{'colorListActive': activeList == 'offers'}">
                    <span class="menu-icon fa fa-money"></span>
                    <span ng-show="notificationsOffers" class="badgeMessage" ng-class="{'badgeMessageActive': activeList == 'offers'}"></span>
                    <label class="listSecondLevel margin-bottom-0">{{'OFFERS' | translate}}</label>
                  </a>
              </li>
              <li class="sidebar-list" ng-if="getUser() != ' '">
                  <a href="#forum" ng-click="changeActiveList('forum')" ng-class="{'colorListActive': activeList == 'forum'}">
                    <span class="menu-icon fa fa-list"></span>
                    <label class="listSecondLevel margin-bottom-0">{{'FORUM' | translate}}</label>
                  </a>
              </li>
              <li class="sidebar-list" ng-if="getUser() != ' '">
                  <a href="#cities" ng-click="changeActiveList('cities')" ng-class="{'colorListActive': activeList == 'cities'}">
                    <span class="menu-icon fa fa-building"></span>
                    <label class="listSecondLevel margin-bottom-0">{{'CITIES' | translate}}</label>
                  </a>
              </li>
            </ul>
        </li>
        <li class="sidebar-list" ng-if="getUser() != ' '">
          <a ng-click="changeActiveList('company')">
              <span class="fa fa-angle-down menu-icon" ng-class="{'hiddeNewProjectButton': activeList != 'company' && activeList != 'coreTeam'
                                                                    && activeList != 'hoopaBranchs'  && activeList != 'news' && activeList != 'newnews'
                                                                    && activeList != 'group' && activeList != 'structure' && activeList != 'groupIntroduce' && 
                                                                    activeList != 'companyIntroduce' && activeList != 'business' && activeList != 'services'
                                                                  && activeList != 'honor'}"></span>
              <span class="fa fa-angle-right menu-icon" ng-class="{'hiddeNewProjectButton': activeList == 'company' || activeList == 'coreTeam'
                                                                    || activeList == 'hoopaBranchs'  || activeList == 'news' || activeList == 'newnews'
                                                                    || activeList == 'group'|| activeList == 'structure' || activeList == 'groupIntroduce' ||
                                                                    activeList == 'companyIntroduce' || activeList == 'business' || activeList == 'services' 
                                                                  || activeList == 'honor'}"></span>
              <label class="listFirstLevel margin-bottom-0">{{'COMPANY' | translate}}</label>
          </a>
          <ul class="padding-0 width100 listUnstyled" ng-class="{'hiddeNewProjectButton': activeList != 'company' && activeList != 'coreTeam'
                                                      && activeList != 'hoopaBranchs'  && activeList != 'news' && activeList != 'newnews'
                                                      && activeList != 'group' && activeList != 'structure' && activeList != 'groupIntroduce' && 
                                                      activeList != 'companyIntroduce' && activeList != 'business' && activeList != 'services' && activeList != 'honor'}">
            <li class="sidebar-list" ng-if="getUser() != ' '">
              <a ng-click="changeActiveList('groupIntroduce')">
                  <span class="fa fa-angle-down menu-icon" ng-class="{'hiddeNewProjectButton': activeList != 'coreTeam' && activeList != 'group' 
                                                                      && activeList != 'hoopaBranchs' && activeList != 'structure' && 
                                                                      activeList != 'companyIntroduce' && activeList != 'groupIntroduce' && activeList != 'business' ||
                                                                      activeList != 'services' && activeList != 'honor'}"></span>
                  <span class="fa fa-angle-right menu-icon" ng-class="{'hiddeNewProjectButton': activeList == 'coreTeam' || activeList == 'group' 
                                                                      || activeList == 'hoopaBranchs' || activeList == 'structure' || 
                                                                      activeList == 'companyIntroduce' || activeList == 'groupIntroduce' || activeList == 'business' ||
                                                                      activeList == 'services' || activeList == 'honor'}"></span>
                <label class="listSecondLevel margin-bottom-0">{{'GROUPINTRODUCE' | translate}}</label>
              </a>
              <ul class="padding-0 width100 listUnstyled" ng-class="{'hiddeNewProjectButton': activeList != 'coreTeam' && activeList != 'group'
                                                                      && activeList != 'hoopaBranchs' && activeList != 'companyIntroduce' && 
                                                                      activeList != 'groupIntroduce' && activeList != 'business' && activeList != 'structure' &&
                                                                      activeList != 'services' && activeList != 'honor'}">
                <li class="sidebar-list" ng-if="getUser() != ' '">
                  <a ng-click="changeActiveList('companyIntroduce')">
                      <span class="fa fa-angle-down menu-icon" ng-class="{'hiddeNewProjectButton': activeList != 'group' && activeList != 'structure' && 
                                                                          activeList != 'companyIntroduce' && activeList != 'business' && activeList != 'services'
                                                                        && activeList != 'honor'}"></span>
                      <span class="fa fa-angle-right menu-icon" ng-class="{'hiddeNewProjectButton': activeList == 'group' || activeList == 'structure' || 
                                                                          activeList == 'companyIntroduce' || activeList == 'business' || activeList == 'services'
                                                                        || activeList == 'honor'}"></span>
                    <label class="listThirdLevel margin-bottom-0">{{'COMPANYINTRODUCE' | translate}}</label>
                  </a>
                  <ul class="padding-0 width100 listUnstyled" ng-class="{'hiddeNewProjectButton': activeList != 'group' && activeList != 'structure' && 
                                                                         activeList != 'companyIntroduce' && activeList != 'business' && activeList != 'services'
                                                                        && activeList != 'honor'}">
                    <li class="sidebar-list" ng-if="getUser() != ' '">
                        <a href="#group" ng-click="changeActiveList('group')" ng-class="{'colorListActive': activeList == 'group'}">
                            <span class="menu-icon fa fa-user-circle"></span>
                            <label class="listFourLevel margin-bottom-0">{{'INTRODUCE' | translate}}</label>
                        </a>
                    </li>
                    <li class="sidebar-list" ng-if="getUser() != ' '">
                        <a href="#structure" ng-click="changeActiveList('structure')" ng-class="{'colorListActive': activeList == 'structure'}">
                            <span class="menu-icon fa fa-chain"></span>
                            <label class="listFourLevel margin-bottom-0">{{'STRUCTURE' | translate}}</label>
                        </a>
                    </li>
                    <li class="sidebar-list" ng-if="getUser() != ' '">
                        <a href="#business" ng-click="changeActiveList('business')" ng-class="{'colorListActive': activeList == 'business'}">
                            <span class="menu-icon fa fa-money"></span>
                            <label class="listFourLevel margin-bottom-0">{{'BUSINESSSYSTEM' | translate}}</label>
                        </a>
                    </li>
                    <li class="sidebar-list" ng-if="getUser() != ' '">
                        <a href="#services" ng-click="changeActiveList('services')" ng-class="{'colorListActive': activeList == 'services'}">
                            <span class="menu-icon fa fa-assistive-listening-systems"></span>
                            <label class="listFourLevel margin-bottom-0">{{'SERVICESPROCESSS' | translate}}</label>
                        </a>
                    </li>
                    <li class="sidebar-list" ng-if="getUser() != ' '">
                        <a href="#honor" ng-click="changeActiveList('honor')" ng-class="{'colorListActive': activeList == 'honor'}">
                            <span class="menu-icon fa fa-handshake-o"></span>
                            <label class="listFourLevel margin-bottom-0">{{'HONOR' | translate}}</label>
                        </a>
                    </li>
                  </ul>
                </li>
                <li class="sidebar-list" ng-if="getUser() != ' '">
                  <a href="#coreTeam" ng-click="changeActiveList('coreTeam')" ng-class="{'colorListActive': activeList == 'coreTeam'}">
                    <span class="menu-icon fa fa-male"></span>
                    <label class="listThirdLevel margin-bottom-0">{{'CORETEAM' | translate}}</label>
                  </a>                  
                </li>
                <li class="sidebar-list" ng-if="getUser() != ' '">
                  <a href="#hoopaBranchs" ng-click="changeActiveList('hoopaBranchs')" ng-class="{'colorListActive': activeList == 'hoopaBranchs'}">
                    <span class="menu-icon fa fa-map"></span>
                    <label class="listThirdLevel margin-bottom-0">{{'BRANCHS' | translate}}</label>
                  </a>
                </li>
              </ul>
            </li>
            <li class="sidebar-list" ng-if="getUser() != ' '">
              <a href="#news" ng-click="changeActiveList('news')" ng-class="{'colorListActive': activeList == 'news'}">
                <span class="menu-icon fa fa-file"></span>
                <label class="listSecondLevel margin-bottom-0">{{'NEWS' | translate}}</label>
              </a>
              <ul class="padding-0 width100 listUnstyled" ng-class="{'hiddeNewProjectButton': activeList != 'news' && activeList != 'newnews'}">
                <li>
                  <a href="#new-news" style="padding-left: 10%;" ng-class="{'colorListActive': activeList == 'newnews'}">
                    <span class="fa fa-plus menu-icon"></span>
                    <label class="listThirdLevel margin-bottom-0">{{'NEWNEWS' | translate}}</label>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        
        <li class="sidebar-list" ng-if="getUser() != ' '" ng-class="{'colorListActive': activeList == 'slider'}">
          <a href="#slider" ng-click="changeActiveList('slider')">
            <span class="menu-icon fa fa-cogs"></span>
            <label class="listFirstLevel margin-bottom-0">{{'SLIDER' | translate}}</label>
          </a>
        </li>
        <li ng-show="getUser() == 'admin'" class="sidebar-list" ng-if="getUser() != ' '" ng-class="{'colorListActive': activeList == 'users'}">
          <a href="#usersView" ng-click="changeActiveList('users')">
            <span class="menu-icon fa fa-users"></span>
            <label class="listFirstLevel margin-bottom-0">{{'USERS' | translate}}</label>
          </a>
        </li>
        <li class="sidebar-list" ng-if="getUser() != ' '" ng-class="{'colorListActive': activeList == 'adv'}">
          <a href="#advView" ng-click="changeActiveList('adv')">
            <span class="menu-icon fa fa-newspaper-o"></span>
            <label class="listFirstLevel margin-bottom-0">{{'ADVINFO' | translate}}</label>
          </a>
        </li>

      </ul>

      <div class="sidebar-footer">

      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header" ng-controller="LoginCtrl">
          <div class="col-xs-12 margin-bottom-0 headerBarStyle">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-language iconClasBar"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li ng-click="changeLanguage('ch_CH')">
                    <!-- <img src="img/china_round_icon_64.png"> -->
                    <a ng-click="changeLanguage('ch_CH')">简化中国</a>
                  </li>
                  <li class="divider"></li>
                  <li ng-click="changeLanguage('en_US')">
                    <!-- <img src="img/united_kingdom_round_icon_64.png"> -->
                    <a ng-click="changeLanguage('en_US')">English</a>
                  </li>
                </ul>
              </div>
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header dropdown-user" ng-if="getUser() != ' '">
                    <i class="fa fa-user marginLeft lineHeight"></i>{{getUser()}}
                  </li>
                  <li class="divider" ng-if="getUser() != ' '"></li>
                  <li class="dropdown-header dropdown-user" ng-if="getUser() != ' '">
                    <a href="#new-project" class="padding-0 font-size-16">
                      <i class="fa fa-briefcase marginLeft lineHeight"></i>{{'NEWPACKAGE' | translate}}
                    </a>
                  </li>
                  <li class="dropdown-header dropdown-user" ng-if="getUser() != ' '">
                    <a href="#new-news" class="padding-0 font-size-16">
                      <i class="fa fa-file marginLeft lineHeight"></i>{{'NEWNEWS' | translate}}
                    </a>
                  </li>
                  <li class="dropdown-header dropdown-user" ng-if="getUser() != ' '">
                    <a href="#" class="no-padding font-size-16" ng-click="logout()">
                      <i class="fa fa-sign-out lineHeight"></i>
                      {{'LOGOUT' | translate}}
                    </a>
                  </li>
                  <li class="dropdown-header dropdown-user" ng-if="getUser() == ' '">
                    <a href="#login" class="no-padding font-size-16">
                      <i class="fa fa-sign-in lineHeight"></i>
                      {{'LOGIN' | translate}}
                    </a>
                  </li>
                </ul>
              </div>

              <div class="item dropdown cursorPointer" uib-dropdown ng-if="getUser() != ' '">
                <a ng-click="goToNotifications()" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o iconClasBar cursorPointer"></i>
                  <span ng-show="notificationsGeneral" class="badge badgeNotifications cursorPointer">{{notificationsOffersCount}}</span>
                </a>
              </div>

            </div>
            <div class="meta">
              <div class="page" ng-click="goToDashboard()">
                Hoopa 后端
              </div>
              <!-- <div class="breadcrumb-links">
                Simple is better
              </div> -->
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div>
      <!-- End Page Content -->
    </div>
    <!-- End Content Wrapper -->
  </div>
  <!-- End Page Wrapper -->
</body>

</html>