.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="username"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signup .form-signup-heading,
  .form-signup .checkbox {
    margin-bottom: 10px;
  }
  .form-signup .checkbox {
    font-weight: normal;
  }
  .form-signup .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signup .form-control:focus {
    z-index: 2;
  }
  .form-signup input[type="username"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signup input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signup input[type="email"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .new-product {
    max-width: 330px;
    padding: 10px;
    margin-left: 2%;
  }
  .new-product .new-product-heading,
  .new-product .checkbox {
    margin-bottom: 15px;
  } 
  .new-product .checkbox {
    font-weight: normal;
  }
  .new-product .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px;
    font-size: 12px;
  }
  .new-product .form-control:focus {
    z-index: 2;
  }
  .new-product input {
      margin-bottom: 15px;
  }
  .new-product textarea {
      margin-bottom: 15px;
  }
  .notification-image{
    height: 120px !important;
    margin-left: 20% !important;
    width: 120px !important;
    object-fit: cover;
  }
  .no-padding {
    padding: 0 !important;
  }
  .notification-author{
    font-weight: 600;
    line-height: normal;
  }
  .dropdown-user{
    text-align: inherit !important;
    vertical-align: middle;
  }
  .marginLeft{
    margin-right: 10px;
  }
  .lineHeight{
    line-height: normal !important;
  }
  .loginBox{
    background-color: #EFEFEF;
    padding: 15px;
    width: 320px;
    margin-left: 36%;
    margin-top: 10%;
    border: 1px #D4D4D4 solid;
    border-radius: 5px;
  }
  .margin-top-0{
    margin-top: 0px
  }
  .registerBox{
    background-color: #EFEFEF;
    padding: 15px;
    width: 350px;
    margin-left: 36%;
    margin-top: 10%;
    border: 1px #D4D4D4 solid;
    border-radius: 5px;
  }
  .newProject{
    background-color: #EFEFEF;
    padding: 15px;
    /* width: 350px; */
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    border: 1px #D4D4D4 solid;
    border-radius: 3px;
  }
  .no-resize{
    resize: none !important;
  }
  .page{
    cursor: pointer;
  }
  .imgLogo{
    width: 100px;
  }

  .nav {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
  }

  .nav-link {
    display: block !important;
    padding: 0.5rem 1rem !important;
  }
  
  .nav-link:hover, .nav-link:focus {
    text-decoration: none !important;
  }
  
  .nav-link.disabled {
    color: #6c757d !important;
  }
  
  .nav-tabs {
    border-bottom: 1px solid #dee2e6 !important;
  }
  
  .nav-tabs .nav-item {
    margin-bottom: -1px !important;
  }
  
  .nav-tabs .nav-link {
    border: 1px solid transparent !important;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
  }
  
  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6 !important;
  }
  
  .nav-tabs .nav-link.disabled {
    color: #6c757d !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
  }
  
  .nav-tabs .dropdown-menu {
    margin-top: -1px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  
  .nav-pills .nav-link {
    border-radius: 0.25rem !important;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #007bff !important;
  }
  
  .nav-fill .nav-item {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    text-align: center !important;
  }
  
  .nav-justified .nav-item {
    -ms-flex-preferred-size: 0 !important;
    flex-basis: 0 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
    text-align: center !important;
  }

  .inboxPadding{
    padding-left: 30px;
    padding-right: 30px;
  }

  .inboxBox{
    width: 100%;
    height: 100%;
  }

  .messagesInbox{
    background-color: white;
    border-bottom: 1px #EFEFF4 solid;
    display: flex;
    flex-direction: row;
    height: 40px;
  }

  .imgAvatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 5px;
  }