.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="username"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}

.form-signup .checkbox {
  font-weight: normal;
}

.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signup .form-control:focus {
  z-index: 2;
}

.form-signup input[type="username"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.new-product {
  max-width: 330px;
  padding: 10px;
  margin-left: 2%;
}

.custom-media-list {
  margin-left: 2% !important;
  margin-right: 2% !important;
}

.new-product .new-product-heading,
.new-product .checkbox {
  margin-bottom: 15px;
}

.new-product .checkbox {
  font-weight: normal;
}

.new-product .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
}

.new-product .form-control:focus {
  z-index: 2;
}

.new-product input {
  margin-bottom: 15px;
}

.new-product textarea {
  margin-bottom: 15px;
}

.notification-image {
  height: 100px !important;
  width: 100px !important;
  object-fit: cover;
}

.forum-image {
  height: 80px !important;
  width: 80px !important;
  object-fit: cover;
  border-radius: 5px;
}

.no-padding {
  padding: 0 !important;
}

.notification-author {
  font-weight: 600;
  line-height: normal;
}

.dropdown-user {
  text-align: inherit !important;
  vertical-align: middle;
}

.marginLeft {
  margin-right: 10px;
}

.marginLeftNone {
  margin-right: 0 !important;
}

.lineHeight {
  line-height: normal !important;
}

.loginBox {
  background-color: #EFEFEF;
  padding: 15px;
  width: 320px;
  margin-left: 36%;
  margin-top: 10%;
  border: 1px #d6dadb solid;
  border-radius: 5px;
}

.margin-top-0 {
  margin-top: 0px
}

.margin-top-5 {
  margin-top: 5px
}

.registerBox {
  background-color: #EFEFEF;
  padding: 15px;
  width: 350px;
  margin-left: 36%;
  margin-top: 10%;
  border: 1px #d6dadb solid;
  border-radius: 5px;
}

.newProject {
  background-color: white;
  padding: 15px;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 3%;
  border: 1px #d6dadb solid;
  border-radius: 5px;
}

.no-resize {
  resize: none !important;
}

.page {
  cursor: pointer;
}

.imgLogo {
  width: 100px;
}

.nav {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  list-style: none !important;
}

.nav-link {
  display: block !important;
  padding: 0.5rem 1rem !important;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none !important;
}

.nav-link.disabled {
  color: #6c757d !important;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6 !important;
}

.nav-tabs .nav-item {
  margin-bottom: -1px !important;
}

.nav-tabs .nav-link {
  border: 1px solid transparent !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6 !important;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.nav-pills .nav-link {
  border-radius: 0.25rem !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff !important;
  background-color: #007bff !important;
}

.nav-fill .nav-item {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  text-align: center !important;
}

.nav-justified .nav-item {
  -ms-flex-preferred-size: 0 !important;
  flex-basis: 0 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
  text-align: center !important;
}

.inboxPadding {
  padding-left: 30px;
  padding-right: 30px;
}

.inboxBox {
  width: 100%;
  height: 100%;
}

.messagesInbox {
  background-color: white;
  border-bottom: 1px #d6dadb solid;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.OfferBox {
  display: flex;
  flex-direction: column;
}

.offerContentGroup {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border: 1px #d6dadb solid;
  align-items: center;
  margin-top: 10px;
}

.forumContentGroup {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border: 1px #d6dadb solid;
  align-items: center;
  margin-bottom: 10px;
}

.imgAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.imgAvatarForum {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.h-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  border-top: 1px solid #d6dadb;
}

.form-signin-heading,
.form-signup-heading {
  text-align: center;
}

.page {
  font-size: 28px !important;
}

#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
ul.sidebar .sidebar-main a {
  background: #151922 !important;
}

#sidebar-wrapper {
  background: #29313b !important;
}

ul.sidebar .sidebar-title {
  color: white !important;
  font-size: 16px !important;
}

ul.sidebar .sidebar-list a:hover {
  border-left: 3px solid #5867dd !important;
}

.iconDashboard {
  width: 40px;
  margin-top: 10px;
}

.iconDashboardProjects {
  width: 40px;
  margin-top: 13px;
}

.iconDashboardOffers {
  width: 40px;
  margin-top: 12px;
  margin-left: -3px;
}

.colorBlue {
  background-color: #5867dd;
}

.media {
  background-color: white !important;
  padding: 10px !important;
  border-radius: 5px !important;
  border: 1px #d6dadb solid !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-10 {
  padding: 10px !important;
}

.dropdown-header {
  color: black !important;
}

.row.header .user>.item a {
  color: black !important;
}

.widget .widget-header {
  color: black !important;
}

.widget {
  border-radius: 5px !important;
}

.colorListActive {
  background-color: #5867dd !important;
}

.media-heading {
  font-weight: bold !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-weight-unset {
  font-weight: unset !important;
}

.margin-top-10 {
  margin-top: 10px;
}

.buttonDelete {
  color: white !important;
  background-color: #ff851b !important;
  width: 80px;
  margin-top: 5px;
}

.buttonUpdate {
  color: white !important;
  background-color: #5867dd !important;
  width: 80px;
  margin-top: 5px;
}

.buttonShow {
  color: white !important;
  background-color: #00a65a !important;
  width: 80px;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.form-controlInput {
  width: 100%;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.backgroundGray {
  background-color: #ecf0f5;
}

.backgroundMessage {
  background-color: #ffffff80;
}

.buttonProjects {
  width: 25px;
}

.marginButtonProject {
  margin-left: 1% !important;
}

.buttonLogin {
  margin-top: 25px;
  font-size: 16px !important;
}

.buttonSignUp {
  font-size: 16px !important;
}

.hiddeNewProjectButton {
  display: none;
}

.width100 {
  width: 100%;
}

.MessagesUser {
  max-width: 400px;
  min-width: 300px;
  padding: 15px;
  background-color: #fff;
  margin-left: 1%;
  border-radius: 5px;
  color: #000 !important;
  border: 1px solid #5867dd;
}

.MessagesAdmin {
  background-color: white;
  max-width: 400px;
  min-width: 300px;
  padding: 15px;
  margin-right: 1%;
  border-radius: 5px;
  color: black;
  border: 1px solid #ff851b;
}

.messageBox {
  width: 100%;
}

.sendBox {
  width: 100%;
  padding: 5px;
  border-top: 1px #d6dadb solid;
  display: flex;
  flex-direction: row;
}

.textareaMessageSend {
  width: 90%;
  height: 80px;
  border-radius: 5px;
  resize: none;
  border: 0px;
  padding: 5px;
}

.sendButton {
  width: 8%;
  margin-left: 1%;
  padding-top: 30px;
}

.sendOffer {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-left: 1%;
}

.avatarAdmin {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 1%;
}

.groupSender {
  display: flex;
  flex-direction: row;
}

.groupReceiver {
  display: flex;
  flex-direction: row;
  float: right;
}

.senderGroup {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 10px;
}

.receiverGroup {
  margin-top: 5px;
  margin-bottom: 10px;
}

.groupReceiverUp {
  display: flex;
  flex-direction: column;
  float: right;
}

.labelDateSender {
  margin-left: 7%;
  font-size: 14px;
  font-weight: normal;
}

.labelDateReceiver {
  font-size: 14px;
  font-weight: normal;
}

.content {
  font-weight: normal;
}

.mediaListBox {
  display: flex;
  flex-direction: column;
  border: 1px #d6dadb solid;
  border-radius: 5px;
  padding: 15px;
}

.imageBox {
  display: flex;
  flex-direction: column;
}

.captionBox {
  display: flex;
  flex-direction: column;
}

.formNewNews {
  padding: 30px;
  background-color: #fff;
  margin: 2% 3%;
  border-radius: 5px;
  width: 94% !important;
}

.imageGroupBox {
  display: flex;
  flex-direction: row;
}

.borderNone {
  border: none !important;
  box-shadow: none !important;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-left-0 {
  padding-left: 0px;
}

.columBox {
  display: flex;
  flex-direction: column;
}

.imageMainNews {
  width: 115px;
  margin-top: 4%;
  float: right;
  object-fit: cover;
}

.imageMainTeam {
  width: 130px;
  float: right;
  border: 1px #cccccc solid;
}

.newsImage {
  width: 100px;
  object-fit: cover;
}

.imageBoxList {
  display: flex;
  flex-direction: column;
}

.textNewsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.marginTopInbox {
  margin-top: -15px;
}

.scrollbarUser {
  background-color: #ffffff80;
}

.groupUserRow {
  display: flex;
  flex-direction: row;
}

.marginAvatar {
  margin-left: 6%;
}

.groupContentUser {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.badge {
  position: absolute !important;
  z-index: 5;
  margin-left: 3%;
  background-color: #f44336;
  font-size: 13px !important;
}

.offerContent {
  display: flex;
  flex-direction: column;
}

.angles {
  width: 40px;
}

.notifyBox {
  display: flex;
  flex-direction: column;
}

.offerResponse {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: 1px solid #d6dadb;
}

.textAreaOfferResponse {
  height: 80px;
  width: 100%;
  border: none;
  padding: 10px;
  border: 1px solid #d6dadb;
}

.textAreaOffer {
  padding: 10px;
}

.notifyUser {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notifyManager {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sendButtonOffer {
  width: 100%;
  padding-top: 30px;
}

.colorMoney {
  color: #ff851b;
}

.iconClasBar {
  font-size: 35px !important;
  margin-top: 5px;
}

.badgeNotifications {
  margin-left: -15px !important;
  margin-top: 10px !important;
  font-size: 9px !important;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  padding-top: 3px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
}

.badgeMessage {
  position: absolute !important;
  background-color: #5867dd;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: 76%;
  margin-top: 4%;
}

.badgeMessageActive {
  background-color: #f44336 !important;
}

.cursorPointer {
  cursor: pointer !important;
}

#page-wrapper:not(.open) ul.sidebar .sidebar-list a:hover span {
  border-left: 3px solid #5867dd !important;
}

ul.sidebar .sidebar-title:hover {
  color: #1e81d3 !important;
}

ul.sidebar .sidebar-list a {
  color: white !important;
}

ul.sidebar .sidebar-list a:hover {
  color: #1e81d3 !important;
}

.btn-primary {
  background-color: #5867dd !important;
}

.widget-iconUser {
  background-color: #5867dd !important;
}

.widget-iconProjects {
  background-color: #00a65a !important;
}

.widget-iconVisits {
  background-color: #04c1c4 !important;
}

.widget-iconOffers {
  background-color: #ff851b !important;
}

.widget-bodyUser {
  background-color: #5867dd !important;
  color: white !important;
}

.widget-bodyProjects {
  background-color: #00a65a !important;
  color: white !important;
}

.widget-bodyVisits {
  background-color: #04c1c4 !important;
  color: white !important;
}

.widget-bodyOffers {
  background-color: #ff851b !important;
  color: white !important;
}

.widget {
  background-color: transparent !important;
}

.widget-icon {
  border: 2px solid white;
}

.listUnstyled {
  list-style: unset;
}

.table {
  margin-bottom: 0px !important;
  background-color: white !important;
}

.widget-header {
  background-color: white !important;
}

.backgroundListTable {
  background-color: #04c1c41a !important;
}

tr {
  background-color: white !important;
}

.VisitTitle {
  text-align: center;
}

.imgVisits {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 10px;
}

.groupTitleChart {
  display: flex;
  flex-direction: row;
}

.styleViewProject {
  background-color: white;
  border: 1px solid #d6dadb;
  padding: 15px;
}

.paddingView {
  padding: 40px;
}

.ProjectsData {
  padding: 15px;
  border: 1px solid #d6dadb;
}

.ManagerData {
  padding: 15px;
  border: 1px solid #d6dadb;
}

.widgetBorrower {
  height: auto !important;
}

.imageGallery {
  width: 250px;
  height: 180px;
  resize: both;
}

.tags {
  margin-top: 10px;
  border: 1px solid #d6dadb;
}

.padding-15 {
  padding: 15px;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.Gallery {
  border: 1px solid #d6dadb;
}

.imageModalProjects {
  width: 1280px;
  height: auto;
}

#prevImage {
  position: absolute !important;
  width: 60px;
  height: 60px;
  z-index: 10;
  margin-top: 30%;
  font-size: 60px;
  color: white;
  margin-left: 2%;
}

#nextImage {
  position: absolute !important;
  width: 60px;
  height: 60px;
  z-index: 10;
  margin-top: 30%;
  font-size: 60px;
  color: white;
  margin-left: 94%;
}

.buttonEdit {
  padding: 5px;
  border: none;
}

.buttonEditSave {
  padding: 5px;
  border: none;
}

.titleProjectStyle {
  display: flex;
  flex-direction: row;
}

.editTitleBox {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.textareaProjectDescription {
  width: 100% !important;
}

.buttonEditHidden {
  width: 25px;
  height: 25px;
}

.imgClose {
  position: absolute;
  width: 25px;
  margin-left: 5px;
  margin-top: 5px;
}

.padding-60 {
  padding: 60px;
}

.padding-30 {
  padding: 30px;
}

.AreYouSure {
  border-bottom: 1px solid #d6dadb;
  margin-bottom: 10px;
}

.buttonGroupModal {
  float: right;
}

.modalContentAreYouSure {
  min-height: 130px;
}

.hiddenListAdd {
  width: 25px;
  float: right;
  margin-top: -2px;
}

.addListStyleBorder {
  border: 1px solid #d6dadb;
}

.borderColorRed {
  border: 2px solid #f44336 !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.imageFact {
  width: 25px;
  margin-top: -5px;
}

.facts {
  padding: 10px !important;
  height: 35px;
}

.listNewsGroup {
  border: 1px solid #d6dadb !important;
  padding: 15px !important;
}

.marging-bottom-0 {
  margin-bottom: 0px !important;
}

.example {
  margin-left: 40%;
}

.buttonPagination {
  background-color: white;
}

.margin-top--10 {
  margin-top: -10px !important;
}

.imageNew {
  width: 100%;
}

.textEnd {
  text-align: end;
}

.imgAvatarOffers {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.NoComments {
  text-align: center;
  margin-top: 20%;
  color: #c8c8c8;
}

.inputSearch {
  border: 1px solid #d6dadb;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  border-radius: 50px;
}

.imgAvatarUsers {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.divUser {
  background-color: white;
  border: 1px solid #d6d6d6;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-top--10 {
  margin-top: -10px !important;
}

.margin-top--8 {
  margin-top: -8px !important;
}

.swicthAdvBox {
  padding: 30px;
}

.btn {
  font-size: 10px !important;
}

.offerDate{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.buttonDeleteForum{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.buttonAddBranche{
  float: right;
}

.BranchesView{
  background-color: #fff;
  padding-top: 15px;
  margin: 2% 3%;
  border: 1px solid #d6dadb;
  border-radius: 5px;
  width: 94%;
}

.textAreaCoreTeam{
  height: 100px !important;
}