/* font family */

:root {
  font-family: "MicrosoftYaHei" !important;
}

html, body, button, div, section, a, h1, h2, h3, h4, h5, h6 {
  font-family: "MicrosoftYaHei" !important;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="username"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signup .form-signup-heading, .form-signup .checkbox {
  margin-bottom: 10px;
}

.form-signup .checkbox {
  font-weight: normal;
}

.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signup .form-control:focus {
  z-index: 2;
}

.form-signup input[type="username"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.new-product {
  max-width: 330px;
  padding: 10px;
  margin-left: 2%;
}

.custom-media-list {
  margin-left: 2% !important;
  margin-right: 2% !important;
}

.new-product .new-product-heading, .new-product .checkbox {
  margin-bottom: 15px;
}

.new-product .checkbox {
  font-weight: normal;
}

.new-product .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
}

.new-product .form-control:focus {
  z-index: 2;
}

.new-product input {
  margin-bottom: 15px;
}

.new-product textarea {
  margin-bottom: 15px;
}

.notification-image {
  height: 100px !important;
  width: 100px !important;
  object-fit: cover;
}

.news-image {
  height: 120px !important;
  width: 150px !important;
  object-fit: cover;
  margin-right: 15px;
}

.forum-image {
  height: 80px !important;
  width: 80px !important;
  object-fit: cover;
  border-radius: 5px;
}

.no-padding {
  padding: 0 !important;
}

.notification-author {
  font-weight: 600;
  line-height: normal;
}

.dropdown-user {
  text-align: inherit !important;
  vertical-align: middle;
}

.marginLeftNone {
  margin-right: 0 !important;
}

.lineHeight {
  line-height: normal !important;
}

.marginRight15 {
  margin-right: 15px;
}

.loginBox {
  margin-left: auto;
  margin-right: auto;
}

.margin-top-0 {
  margin-top: 0px
}

.margin-top-5 {
  margin-top: 5px
}

.registerBox {
  background-color: #EFEFEF;
  padding: 15px;
  width: 350px;
  margin-left: 36%;
  margin-top: 10%;
  border: 1px #EFEFEF solid;
  border-radius: 5px;
}

.newProject {
  background-color: white;
  padding: 15px;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 3%;
  border: 1px #EFEFEF solid;
  border-radius: 5px;
}

.no-resize {
  resize: none !important;
}

.page {
  cursor: pointer;
}

.imgLogo {
  width: 100px;
}

.nav {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  list-style: none !important;
}

.nav-link {
  display: block !important;
  padding: 0.5rem 1rem !important;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none !important;
}

.nav-link.disabled {
  color: #6c757d !important;
}

.nav-tabs {
  border-bottom: 1px solid #EFEFEF !important;
}

.nav-tabs .nav-item {
  margin-bottom: -1px !important;
}

.nav-tabs .nav-link {
  border: 1px solid transparent !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #EFEFEF !important;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #EFEFEF #EFEFEF #fff !important;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.nav-pills .nav-link {
  border-radius: 0.25rem !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff !important;
  background-color: #F36C28 !important;
}

.nav-fill .nav-item {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  text-align: center !important;
}

.nav-justified .nav-item {
  -ms-flex-preferred-size: 0 !important;
  flex-basis: 0 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
  text-align: center !important;
}

.inboxPadding {
  padding-left: 30px;
  padding-right: 30px;
}

.inboxBox {
  width: 100%;
  height: 100%;
}

.messagesInbox {
  background-color: white;
  border-bottom: 1px #EFEFEF solid;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.OfferBox {
  display: flex;
  flex-direction: column;
}

.offerContentGroup {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border: 1px #EFEFEF solid;
  align-items: center;
  margin-top: 10px;
}

.forumContentGroup {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border: 1px #EFEFEF solid;
  align-items: center;
  margin-bottom: 10px;
}

.imgAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.imgAvatarForum {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.h-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  border-top: 1px solid #EFEFEF;
}

.form-signin-heading, .form-signup-heading {
  text-align: center;
}

.page {
  font-size: 28px !important;
}

#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator, .sidebar-footer, ul.sidebar .sidebar-list a:hover, ul.sidebar .sidebar-main a {
  background: #2A2F34 !important;
}

#sidebar-wrapper {
  background: #2A2F34 !important;
}

ul.sidebar .sidebar-title {
  color: white !important;
  font-size: 16px !important;
}

ul.sidebar .sidebar-list a:hover {
  border-left: 3px solid #232426 !important;
}

.iconDashboard {
  width: 40px;
  margin-top: 10px;
}

.iconDashboardProjects {
  width: 40px;
  margin-top: 13px;
}

.iconDashboardOffers {
  width: 40px;
  margin-top: 12px;
  margin-left: -3px;
}

.colorBlue {
  background-color: #F36C28;
}

.media {
  background-color: white !important;
  padding: 10px !important;
  border-radius: 5px !important;
  border: 1px #EFEFEF solid !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-10 {
  padding: 10px !important;
}

.dropdown-header {
  color: black !important;
}

.row.header .user>.item a {
  color: black !important;
}

.widget .widget-header {
  color: black !important;
}

.widget {
  border-radius: 5px !important;
}

.colorListActive {
  background-color: #30353B !important;
  color: #F36C28 !important;
}

.media-heading {
  font-weight: bold !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.fontSize40 {
  font-size: 40px !important;
}

.font-weight-unset {
  font-weight: unset !important;
}

.buttonDelete {
  color: white !important;
  background-color: #F36C28 !important;
  width: 80px;
  margin-top: 5px;
}

.buttonUpdate {
  color: white !important;
  background-color: #F36C28 !important;
  width: 80px;
  margin-top: 5px;
}

.buttonShow {
  color: white !important;
  background-color: #F36C28 !important;
  width: 80px;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.form-controlInput {
  width: 100%;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.backgroundGray {
  background-color: #ecf0f5;
}

.backgroundMessage {
  background-color: #EFEFEF;
}

.buttonProjects {
  width: 25px;
}

.marginButtonProject {
  margin-left: 1% !important;
}

.buttonLogin {
  margin-top: 25px;
  font-size: 16px !important;
}

.buttonSignUp {
  font-size: 16px !important;
}

.hiddeNewProjectButton {
  display: none !important;
}

.width100 {
  width: 100%;
}

.width30 {
  width: 30% !important;
}

.width40 {
  width: 40%;
}

.width60 {
  width: 60%;
}

.width70 {
  width: 70%;
}

.MessagesUser {
  max-width: 400px;
  min-width: 300px;
  padding: 15px;
  background-color: #fff;
  margin-left: 1%;
  border-radius: 5px;
  color: #000 !important;
  border: 1px solid #F36C28;
}

.MessagesAdmin {
  background-color: white;
  max-width: 400px;
  min-width: 300px;
  padding: 15px;
  margin-right: 1%;
  border-radius: 5px;
  color: black;
  border: 1px solid #F36C28;
}

.messageBox {
  width: 100%;
}

.sendBox {
  width: 100%;
  padding: 5px;
  border-top: 1px #EFEFEF solid;
  display: flex;
  flex-direction: row;
}

.textareaMessageSend {
  width: 90%;
  height: 80px;
  border-radius: 5px;
  resize: none;
  border: 0px;
  padding: 5px;
}

.sendButton {
  width: 8%;
  margin-left: 1%;
  padding-top: 30px;
}

.sendOffer {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-left: 1%;
}

.avatarAdmin {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 1%;
}

.groupSender {
  display: flex;
  flex-direction: row;
}

.groupReceiver {
  display: flex;
  flex-direction: row;
  float: right;
}

.senderGroup {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 10px;
}

.receiverGroup {
  margin-top: 5px;
  margin-bottom: 10px;
}

.groupReceiverUp {
  display: flex;
  flex-direction: column;
  float: right;
}

.labelDateSender {
  margin-left: 7%;
  font-size: 14px;
  font-weight: normal;
}

.labelDateReceiver {
  font-size: 14px;
  font-weight: normal;
}

.content {
  font-weight: normal;
}

.mediaListBox {
  display: flex;
  flex-direction: column;
  border: 1px #EFEFEF solid;
  border-radius: 5px;
  padding: 15px;
}

.imageBox {
  display: flex;
  flex-direction: column;
}

.captionBox {
  display: flex;
  flex-direction: column;
}

.formNewNews {
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.imageGroupBox {
  display: flex;
  flex-direction: row;
}

.borderNone {
  border: none !important;
  box-shadow: none !important;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.columBox {
  display: flex;
  flex-direction: column;
}

.imageMainNews {
  width: 115px;
  margin-top: 4%;
  float: right;
  object-fit: cover;
}

.imageMainTeam {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.mainNewsImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 15px;
}

.newsImage {
  width: 100px;
  object-fit: cover;
}

.imageBoxList {
  display: flex;
  flex-direction: column;
}

.textNewsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.marginTopInbox {
  margin-top: -15px;
}

.marginTop20 {
  margin-top: 20px;
}

.marginTop10 {
  margin-top: 10px;
}

.marginTop15 {
  margin-top: 15px;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.scrollbarUser {
  background-color: #EFEFEF;
}

.groupUserRow {
  display: flex;
  flex-direction: row;
}

.marginAvatar {
  margin-left: 6%;
}

.groupContentUser {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.badge {
  position: absolute !important;
  z-index: 5;
  margin-left: 3%;
  background-color: #F36C28;
  font-size: 13px !important;
}

.offerContent {
  display: flex;
  flex-direction: column;
}

.angles {
  width: 40px;
}

.notifyBox {
  display: flex;
  flex-direction: column;
}

.offerResponse {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: 1px solid #EFEFEF;
}

.textAreaOfferResponse {
  height: 80px;
  width: 100%;
  border: none;
  padding: 10px;
  border: 1px solid #EFEFEF;
}

.textAreaOffer {
  padding: 10px;
}

.notifyUser {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notifyManager {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sendButtonOffer {
  width: 100%;
  padding-top: 30px;
}

.colorMoney {
  color: #F36C28;
}

.iconClasBar {
  font-size: 35px !important;
  margin-top: 5px;
}

.badgeNotifications {
  margin-left: -15px !important;
  margin-top: 10px !important;
  font-size: 9px !important;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  padding-top: 3px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
}

.badgeMessage {
  position: absolute !important;
  background-color: #F36C28;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: 76%;
  margin-top: 4%;
}

.badgeMessageActive {
  background-color: #F36C28 !important;
}

.cursorPointer {
  cursor: pointer !important;
}

.cursorPointer:hover {
  cursor: pointer !important;
}

#page-wrapper:not(.open) ul.sidebar .sidebar-list a:hover span {
  border-left: 3px solid #F36C28;
}

ul.sidebar .sidebar-title:hover {
  color: #1e81d3;
}

ul.sidebar .sidebar-list a {
  color: white;
}

ul.sidebar .sidebar-list a:hover {
  color: #1e81d3;
}

.btn-primary {
  background-color: #F36C28 !important;
  border-color: #F36C28 !important;
}

.widget-iconUser {
  background-color: white !important;
}

.widget-iconProjects {
  background-color: white !important;
}

.widget-iconVisits {
  background-color: white !important;
}

.widget-iconOffers {
  background-color: white !important;
}

.widget-bodyUser {
  background-color: white !important;
  color: #F36C28 !important;
}

.widget-bodyProjects {
  background-color: white !important;
  color: #F36C28 !important;
}

.widget-bodyVisits {
  background-color: white !important;
  color: #F36C28 !important;
}

.widget-bodyOffers {
  background-color: white !important;
  color: #F36C28 !important;
}

.widget {
  background-color: transparent !important;
}

.widget-icon {
  border: 2px solid #F36C28;
}

.listUnstyled {
  list-style: unset;
}

.table {
  margin-bottom: 0px !important;
  background-color: white !important;
}

.widget-header {
  background-color: white !important;
}

.backgroundListTable {
  background-color: #F5F5F5 !important;
}

tr {
  background-color: white !important;
}

.VisitTitle {
  text-align: center;
}

.imgVisits {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 10px;
}

.groupTitleChart {
  display: flex;
  flex-direction: row;
}

.styleViewProject {
  background-color: white;
  border: 1px solid #EFEFEF;
  padding: 15px;
}

.paddingView {
  padding: 40px;
}

.ProjectsData {
  padding: 15px;
  border: 1px solid #EFEFEF;
}

.ManagerData {
  padding: 15px;
  border: 1px solid #EFEFEF;
}

.widgetBorrower {
  height: auto !important;
}

.imageGallery {
  width: 250px;
  height: 180px;
  resize: both;
}

.tags {
  margin-top: 10px;
  border: 1px solid #EFEFEF;
}

.padding-15 {
  padding: 15px;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.Gallery {
  border: 1px solid #EFEFEF;
}

.imageModalProjects {
  width: 1280px;
  height: auto;
}

#prevImage {
  position: absolute !important;
  width: 60px;
  height: 60px;
  z-index: 10;
  margin-top: 30%;
  font-size: 60px;
  color: white;
  margin-left: 2%;
}

#nextImage {
  position: absolute !important;
  width: 60px;
  height: 60px;
  z-index: 10;
  margin-top: 30%;
  font-size: 60px;
  color: white;
  margin-left: 94%;
}

.buttonEdit {
  padding: 5px;
  border: none;
}

.buttonEditSave {
  padding: 5px;
  border: none;
}

.titleProjectStyle {
  display: flex;
  flex-direction: row;
}

.editTitleBox {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.textareaProjectDescription {
  width: 100% !important;
}

.buttonEditHidden {
  width: 25px;
  height: 25px;
}

.imgClose {
  position: absolute;
  width: 25px;
  margin-left: 5px;
  margin-top: 5px;
}

.padding-60 {
  padding: 60px;
}

.padding-30 {
  padding: 30px;
}

.AreYouSure {
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 10px;
}

.buttonGroupModal {
  float: right;
}

.modalContentAreYouSure {
  min-height: 130px;
}

.hiddenListAdd {
  width: 25px;
  float: right;
  margin-top: -2px;
}

.addListStyleBorder {
  border: 1px solid #EFEFEF;
}

.borderColorRed {
  border: 2px solid #F36C28 !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.imageFact {
  width: 25px;
  margin-top: -5px;
}

.facts {
  padding: 10px !important;
  height: 40px;
}

.listNewsGroup {
  border: 1px solid #EFEFEF !important;
  padding: 15px !important;
}

.marging-bottom-0 {
  margin-bottom: 0px !important;
}

.example {
  margin-left: 40%;
}

.buttonPagination {
  background-color: white;
}

.margin-top--10 {
  margin-top: -10px !important;
}

.imageNew {
  width: 100%;
}

.textEnd {
  text-align: end;
}

.imgAvatarOffers {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.NoComments {
  text-align: center;
  margin-top: 20%;
  color: #F5F5F5;
}

.inputSearch {
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  border-radius: 50px;
}

.imgAvatarUsers {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.divUser {
  background-color: white;
  border: 1px solid #d6d6d6;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-top--10 {
  margin-top: -10px !important;
}

.margin-top--8 {
  margin-top: -8px !important;
}

.swicthAdvBox {
  padding: 30px;
}

.btn {
  font-size: 10px !important;
}

.offerDate {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.buttonDeleteForum {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.buttonAddBranche {
  float: right;
  width: 130px;
}

.buttonAddTeamMember {
  float: right;
  width: 160px;
  background-color: #F36C28;
  color: white;
}

.BranchesView {
  background-color: #fff;
  padding-top: 15px;
  margin: 2% 3%;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  width: 94%;
}

.citiesView {
  background-color: #fff;
  padding-top: 15px;
  margin: 2% 3%;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  width: 94% !important;
}

.buttonAddCity {
  margin: 10px 3% 0px;
}

.BranchesViewAdd {
  background-color: #fff;
  padding: 15px;
  margin: 2% 3%;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  width: 94% !important;
  display: flex;
  flex-direction: column;
}

.NewsViewAdd {
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.BranchesViewUpdate {
  background-color: #fff;
  padding-top: 15px;
  margin: 2% 3%;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  width: 94%;
}

.textAreaCoreTeam {
  height: 120px !important;
  resize: none !important;
}

.textAreaCoreTeamArray {
  height: 90px !important;
  resize: none !important;
}

.teamMemberItem {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #F5F5F5;
  margin-top: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.cityItem {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #F5F5F5;
  margin-top: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.newsItem {
  padding: 15px;
  border: 1px solid #F5F5F5;
  margin-top: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.noPadding {
  padding: 0;
}

.padding20 {
  padding: 20px !important;
}

.heightModalUpdateMember {
  height: 450px;
}

.imageCoreTeam {
  max-width: 200px !important;
  max-height: 200px !important;
  min-width: 200px !important;
  min-height: 200px !important;
  object-fit: cover;
}

.coreTeamTextAreaStyle {
  width: 90%;
  resize: none;
  height: 150px;
}

.imageCities {
  max-width: 120px;
  max-height: 90px;
  min-height: 90px !important;
  object-fit: cover;
  margin-right: 15px;
}

.cityInformation {
  background-color: #02c16a9e;
  margin: 1% 3%;
  padding: 5px 10px;
  border-radius: 5px;
}

.closeDescription {
  padding: 5px;
  height: 110px;
  margin-top: 10px;
}

.buttonCloseProject {
  margin-left: 0;
  border: none;
  background-color: transparent !important;
  color: #02c16a9e !important;
  overflow: hidden !important;
}

.buttonCloseProject:focus {
  outline: none !important;
}

.textAreaProjectCloseDescription {
  height: 100px;
  resize: none;
  width: 100%
}

.closeProject {
  margin-top: 10px;
  font-size: 13px !important;
}

.descriptioTextCloseProject {
  margin-top: 10px;
  margin-left: 5px;
}

.btn .fa, .btn.btn-md .fa {
  font-size: 13px;
}

.fontSize13 {
  font-size: 13px !important;
}

.fontSize24 {
  font-size: 24px !important;
}

.listFirstLevel {
  margin-left: -36px !important;
}

.listSecondLevel {
  margin-left: -24px !important;
}

.listThirdLevel {
  margin-left: -12px !important;
}

.listFourLevel {
  margin-left: 0px !important;
}

.listFirstLevel:hover, .listThirdLevel:hover, .listSecondLevel:hover, .listFourLevel:hover {
  cursor: pointer;
}

.marginLeft-5 {
  margin-left: -5px !important;
}

.marginLeft15 {
  margin-left: 15px !important;
}

.updateCityNameClass {
  display: flex;
  flex-direction: row;
}

.btnEditCityName {
  margin-top: 0px;
  color: black !important;
  background-color: transparent !important;
  padding-top: 4px !important;
  padding-bottom: 2px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  opacity: 0.3;
}

.btnEditCityPrice {
  margin-top: 6px;
  margin-left: 5px;
  color: black !important;
  background-color: transparent !important;
  padding-top: 4px !important;
  padding-bottom: 2px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  opacity: 0.3;
}

.btnEditCityName:hover, .btnEditCityPrice:hover {
  opacity: 1;
}

.labelPriceCityUpdate {
  margin-top: 7px !important;
  margin-left: 10px !important;
}

.visibilityCity {
  margin-left: 5px;
}

.spanCitiesClose {
  float: right;
  border: 1px solid #F5F5F5;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.spanCitiesClose:hover {
  cursor: pointer;
  background-color: #F36C28 !important;
  color: white !important;
}

/* style for unput type file image */

.was-validated .custom-file-input:valid~.custom-file-label, .custom-file-input.is-valid~.custom-file-label {
  border-color: #28a745;
}

.was-validated .custom-file-input:valid~.valid-feedback, .was-validated .custom-file-input:valid~.valid-tooltip, .custom-file-input.is-valid~.valid-feedback, .custom-file-input.is-valid~.valid-tooltip {
  display: block;
}

.was-validated .custom-file-input:valid:focus~.custom-file-label, .custom-file-input.is-valid:focus~.custom-file-label {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.input-group>.form-control:focus, .input-group>.custom-select:focus, .input-group>.custom-file .custom-file-input:focus~.custom-file-label {
  z-index: 3;
}

.input-group>.custom-file .custom-file-input:focus {
  z-index: 4;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file-input:focus~.custom-file-label {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-file-input:disabled~.custom-file-label {
  background-color: #e9ecef;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Browse";
}

.custom-file-input~.custom-file-label[data-browse]::after {
  content: attr(data-browse);
}

.imageInput {
  position: absolute;
  z-index: 100;
  width: 130px;
  height: 130px;
  right: 15px;
}

.imageInputCoreTeam {
  position: absolute;
  z-index: 100;
  width: 150px;
  height: 150px;
  top: 170px;
}

.imageInputNews {
  position: absolute;
  z-index: 100;
  width: 150px;
  height: 150px;
  top: 210px;
}

.imageInputCoreTeamArray {
  position: absolute;
  z-index: 100;
  width: 150px;
  height: 150px;
  margin-top: -150px;
}

.imageInput:hover, .imageInputCoreTeam:hover, .imageInputCoreTeamArray:hover {
  cursor: pointer;
}

.updateCityImageImput {
  position: absolute;
  top: 0;
  width: 120px;
  height: 90px;
  z-index: 100;
}

.updateCityImageImput:hover {
  cursor: pointer;
}

.buttonsOrder {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.styleAngleOrder {
  font-size: 40px !important;
}

.styleAngleOrderDisabled {
  opacity: 0.5;
  font-size: 40px !important;
}

.styleAngleOrderDisabled:hover {
  cursor: not-allowed !important;
}

.styleAngleOrder:hover {
  cursor: pointer !important;
}

.buttonOrderSpan {
  width: 55px !important;
  height: 40px !important;
}

.marginSpanButtonBox {
  margin-top: 6px;
}

.branchItemRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.branchItemColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.displayFlexRow {
  display: flex;
  flex-direction: row;
}

.displayFlexColumn {
  display: flex;
  flex-direction: column;
}

.imageGroupIntroductionBox {
  background-color: white;
  padding: 20px;
}

.imageServicesProcessBox {
  background-color: white;
  padding: 20px;
  width: 25%;
}

.textServicesProcessBox {
  background-color: white;
  padding: 20px;
  width: 73%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

.addImageBox {
  background-color: #F5F5F5;
  width: 100%;
  height: 360px;
  text-align: center;
  font-size: 100px;
}

.addImageServicesProcessBox {
  background-color: #F5F5F5;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 100px;
}

.businessSystemImageBox {
  background-color: white;
  width: 100%;
  height: 160px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.addTextBox {
  background-color: #F5F5F5;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 100px;
}

.spanImageAdd {
  margin-top: 13%;
}

.spanServicesProcessImageAdd {
  margin-top: 20%;
}

.spanServicesProcessTextAdd {
  margin-top: 7%;
}

.pageHeader {
  background-color: white;
  height: 50px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.headerBarStyle {
  box-shadow: 2px 2px 2px #F5F5F5;
}

.spanModeView {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px !important;
}

.spanModeView:hover {
  cursor: pointer;
}

.inputGruopIntroductionImage {
  position: absolute;
  margin-top: -360px;
  height: 360px !important;
  width: 78% !important;
}

.inputServicesProcessImage {
  position: absolute;
  margin-top: -200px;
  height: 200px;
  width: 18%;
}

.imageGroup {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.imageServicesProcess {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.imagebusinessSystem {
  width: 95%;
  margin-right: 1%;
  height: 160px;
  object-fit: cover;
}

.buttonSaveGroupIntroduction {
  float: right;
  background-color: #F36C28 !important;
  width: 160px;
  height: 45px;
  font-size: 13px !important;
  padding: 13px !important;
}

.textAreaGroupIntroduction {
  width: 100%;
  height: 200px !important;
  resize: none;
  border: 1px solid #F5F5F5;
}

.textAreaServicesProcess {
  width: 100%;
  height: 160px !important;
  resize: none;
  border: 1px solid #F5F5F5;
}

.textAreaHonor {
  width: 100%;
  height: 200px !important;
  resize: none;
  border: 1px solid #F5F5F5;
}

.spanModeViewOpacity {
  opacity: 0.5;
}

.bussinesSystemDelete {
  position: absolute;
  right: 120px;
  margin-top: 60px;
  font-size: 30px!important;
  color: #d2d2d2 !important;
}

.bussinesSystemDelete:hover, .CoreTeamDelete:hover, .servicesProcessDelete:hover, .CityDelete:hover, .newsDelete:hover {
  cursor: pointer;
  color: #F36C28;
}

.CoreTeamDelete {
  margin-top: 85px;
  font-size: 30px!important;
  color: #d2d2d2;
}

.CityDelete {
  margin-top: 30px;
  font-size: 30px!important;
  color: #d2d2d2;
}

.newsDelete {
  margin-top: 45px;
  font-size: 30px!important;
  color: #d2d2d2;
}

.servicesProcessDelete {
  position: absolute;
  right: 120px;
  margin-top: 95px;
  font-size: 30px!important;
}

.orderBox {
  width: 4%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.spanOrderBox {
  height: 78px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanOrderBoxServicesProcess {
  height: 108px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanOrderBoxUp {
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.spanOrderBoxCoreTeam {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: white;
  padding: 10px;
}

.spanOrderBoxCoreTeamUp {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  margin-left: 10px;
  padding: 10px;
}

.spanOrderBoxCities {
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: white;
  padding: 10px;
}

.spanOrderBoxCitiesUp {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-left: 10px;
  padding: 10px;
}

.spanOrderBoxNews {
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: #F5F5F5;
  padding: 10px;
}

.spanOrderBoxNewsUp {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-left: 10px;
  padding: 10px;
}

.spanOrderBoxBranchUp {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  margin-left: 10px;
  padding: 10px;
}

.spanOrderBoxBranch {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: white;
  padding: 10px;
}

.spanOrderBoxCoreTeam:hover, .spanOrderBoxCoreTeamUp:hover, .spanOrderBox:hover, .spanOrderBoxUp:hover, .spanOrderBoxBranch:hover, .spanOrderBoxBranchUp:hover {
  cursor: pointer;
}

.spanOrderBoxServicesProcess {
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
}

.marginTop4 {
  margin-top: 4px;
}

.marginTop6 {
  margin-top: 6px;
}

span.fa-angle-down:hover, span.fa-angle-up:hover {
  cursor: pointer;
}

.inputChangePictureBusinessSystem {
  position: absolute;
  width: 68%;
  z-index: 100;
  height: 160px;
}

.backgroundWhite {
  background-color: white;
}

.buttonAddServicesProcess {
  height: 60px;
}

.marginBottom5 {
  margin-bottom: 5px;
}

.itemServicesProcess {
  padding: 15px;
  border: 1px solid #F5F5F5;
  box-shadow: 1px 1px 1px #F5F5F5;
  background-color: white;
}

.width90P {
  width: 90% !important;
}

.inputDateHistory {
  width: 80px !important;
  margin-left: 5px;
  background-color: #F5F5F5;
}

@media(min-width: 320px) {
  .spanTextAdd {
    margin-top: 3%;
  }
}

@media(min-width: 360px) {
  .spanTextAdd {
    margin-top: 3%;
  }
}

@media(min-width: 375px) {
  .spanTextAdd {
    margin-top: 3%;
  }
}

@media(min-width: 420px) {
  .spanTextAdd {
    margin-top: 3%;
  }
}

@media(min-width: 480px) {
  .spanTextAdd {
    margin-top: 3%;
  }
}

@media(min-width: 768px) {
  .spanTextAdd {
    margin-top: 3%;
  }
}

@media(min-width: 992px) {
  .spanTextAdd {
    margin-top: 7%;
  }
}

@media(min-width: 1080px) {
  .spanTextAdd {
    margin-top: 6%;
  }
}

@media(min-width: 1200px) {
  .spanTextAdd {
    margin-top: 5%;
  }
}

@media(min-width: 1366px) {
  .spanTextAdd {
    margin-top: 5%;
  }
}

@media(min-width: 1600px) {
  .spanTextAdd {
    margin-top: 3%;
  }
}

.subheader {
  font-size: 16px;
  margin-bottom: 10px;
}

.subheaderPage {
  font-size: 16px;
}

.width95P {
  width: 95px;
}

.buttonAddMember {
  background-color: white !important;
  color: #3333337a !important;
  border: 1px solid #F5F5F5 !important;
  border-radius: 0 !important;
  width: 95%;
  height: 100px;
  margin-left: 30px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.buttonAddMediaNews {
  background-color: white !important;
  color: #3333337a !important;
  border: 1px solid #F5F5F5 !important;
  border-radius: 0 !important;
  width: 100%;
  height: 100px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.buttonAddMember:hover {
  cursor: pointer;
}

.coreTeamList {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.coreTeamItem {
  display: flex;
  flex-direction: row;
  border: 1px solid #F5F5F5;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px #F5F5F5;
}

.row.header {
  margin-bottom: 0 !important;
}

.iconDashboardMain {
  font-size: 60px;
  margin-right: 10px;
}

.bannerDashboard {
  object-fit: cover;
  height: 260px;
  width: 100%;
  margin-bottom: 20px;
}

.groupIntroductonStyle {
  background-color: #F5F5F5 !important;
}

.loginBoxInside {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: white;
  box-shadow: 1px 1px 1px #d2d2d2;
  margin-top: 20%;
  border: 1px solid #d2d2d2;
}

.imgLogin {
  object-fit: contain;
  width: 300px;
}

.loginData {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 30px;
}

.signUpData {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px;
}

.inputLogin {
  margin-left: 3px;
  width: 98% !important;
  padding-left: 35px !important;
  color: #d2d2d2 !important;
}

.imgLoginLogo {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.labelLogin {
  margin-left: 3px;
  font-size: 16px;
  font-weight: bold;
}

.height40 {
  height: 40px !important;
}

.iconUsernameLogin {
  margin-top: 23px;
  margin-left: 15px;
  position: absolute;
}

.buttonRegisterLogin {
  margin-top: 10px;
  text-align: center;
}

.cityDataBox {
  display: flex;
  flex-direction: row;
}

.citiesItemData {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: white;
  width: 100%;
}

.borderBox {
  border: 1px solid #d2d2d2;
  padding: 15px;
}

.backgroundColorField {
  background-color: #f5f5f5 !important;
}

.spanImageMainNews {
  font-size: 120px;
}

.borderHoverColor:hover{
  border: 1px solid #F36C28 !important;
  cursor: pointer !important;
}

.btnPagination{
  background-color: white !important;
  color: black !important;
  width: 80px;
  height: 30px;
}

.btnPagination:hover{
  border: 1px solid #F36C28 !important;
  color: #F36C28 !important;
}

.textAreaNewsTitle{
  width: 100%;
  margin-bottom: 5px;
  resize: none;
}